<div class="container pt-4 mb-4">
    <div class="filter">
      <div class="section-title">
        <!-- <img class="dashboard-icon" src="./assets/img/claims.svg" /> -->
        <svg height="22" viewBox="0 0 26 22" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m1 21.8222222h23.9777778c.5111111 0 .9111111-.4.9111111-.9111111v-16.17777777c0-.51111111-.4-.91111111-.9111111-.91111111h-6.9555556v-2.73333333c0-.51111111-.4-.91111111-.9111111-.91111111h-8.22222221c-.51111111 0-.91111111.4-.91111111.91111111v2.75555555h-6.97777778c-.51111111 0-.91111111.4-.91111111.91111112v16.17777774c.02222222.4888889.42222222.8888889.91111111.8888889zm8.8-19.8222222h6.4v1.84444444h-6.4zm-7.88888889 3.64444444h6.75555556c.06666666.02222223.13333333.02222223.2.02222223.06666666 0 .13333333 0 .2-.02222223h7.82222223c.0666667.02222223.1333333.02222223.2.02222223s.1333333 0 .2-.02222223h6.7555555v6.26666666h-6.0222222v-1.0888889c0-.5111111-.4-.91111109-.9111111-.91111109s-.9111111.39999999-.9111111.91111109v1.0888889h-6.4v-1.0888889c0-.5111111-.4-.91111109-.91111111-.91111109s-.91111111.39999999-.91111111.91111109v1.0888889h-6.06666667zm0 8.08888886h6.06666667v1.0222223c0 .5111111.4.9111111.91111111.9111111s.91111111-.4.91111111-.9111111v-1.0222223h6.4v1.0222223c0 .5111111.4.9111111.9111111.9111111s.9111111-.4.9111111-.9111111v-1.0222223h6.0666667v6.2666667h-22.17777779z" fill="#000063"/></svg>
        <h1 class="h1-main-heading">Recent {{config.modelTitle }}s</h1>
        <div class="filter-btn">
          <img class="dashboard-icon" src="./assets/img/filter.svg" />
          <p class="label">Filter {{config.modelTitle }}s</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col card" *ngFor=" let currentModel of modelData | slice:0:3;  let i=index">

        <div class="header container">
          <div class="row">
            <div class="col">
              <h2 class="h2-sub-heading">{{config.modelTitle }} {{currentModel.id}}</h2>
            </div>
            <div class="col">
              <div class="status-active label" *ngIf="getModelValueFromMappingKey(i, config.status) == 'In Progress'">In Progress</div>
              <div class="status-settled label" *ngIf="getModelValueFromMappingKey(i, config.status) == 'Settled'">Settled</div>
              <div class="status-cancelled label" *ngIf="getModelValueFromMappingKey(i, config.status) == 'Cancelled'">Cancelled</div>
            </div>
          </div>
        </div>
        <table class="table table-borderless">
          <tbody>
            <tr *ngFor=" let field of config.fields | slice:0:6;  let j=index">
              <td class="field-description">{{field.key}}</td>
              <!--<td class="normal-text">{{getModelValueFromMappingKey(i, field.value)}}</td>-->
              <td class="normal-text">{{ (getModelValueFromMappingKey(i, field.value).length>19)? (getModelValueFromMappingKey(i, field.value) | slice:0:19)+'...':(getModelValueFromMappingKey(i, field.value)) }}</td>
            </tr>

          </tbody>
        </table>
        <div class="footer container">
          <p class="view" (click)="loadModelDetails(config.name, currentModel.id )">
            View {{config.modelTitle }}
            <img class="dashboard-icon" src="./assets/img/arrow_right.svg" />
          </p>
        </div>
      </div>
    </div>

    <div class="row mb-5">
        <div class="col">
          <!-- <div class="load-more" *ngIf="show < policycount" (click)="loadMore()"> -->
            <div class="load-more"  (click)="loadMore(config.name)"> 
            <div class="show">
                <p class="label d-inline text-center">Show More {{config.modelTitle }}s</p>
                <img class="d-inline" src="./assets/img/arrow_down.svg" />
            </div>
          </div>
        </div>
      </div>
  </div>

  
