@import "../../../../assets/config";

.dashboard-container {
    margin-top: 175px;
  }

.field-description {
  font-size: 13px !important;
}

.normal-text {
  font-size: 15px !important;
}
  
  .temp-title {
    color: #cac8de;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .card {
    background-color: white !important;
    border-radius: $radius;
    padding: 0;
    margin: 1rem;
    .header {
      padding: 0 20px;
      border-bottom: 1px solid #F5F6FA;
      min-height: 62px;
      .h2-sub-heading {
        line-height: 62px !important;
        margin-bottom: 0;
      }
    }
    .table {
      margin-bottom: 0;
      tr:nth-child(even) {
        background-color: #fcfcfd;
      }
      td {
        padding: 10px 20px;
        vertical-align: middle;
      }
    }
    .footer {
      border-top: 1px solid #F5F6FA;
      padding: 0 20px;
      .view {
        min-height: 62px;
        line-height: 62px;
        margin-bottom: 0;
        color: $color-brand-primary;
        cursor: pointer;
      }
    }
  }
  
.section-title {
  line-height: 60px;
  position: relative;
  svg {
    display: inline-block;
    padding-bottom: 6px;
  }
  h1 {
    display: inline-block;
    padding-left: 20px;
  }
  &:after {
    content: '';
    position: absolute;
    background: #cac8de;
    //width: calc(100% - 334px);
    height: 1px;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.filter-btn {
  float: right;
  &:hover {
    cursor: pointer;
  }
  p {
    display: inline;
    padding-left: 10px;
  }
}

.load-more {
    border: 1px solid #cac8de;
    border-radius: $radius;
    width: 100%;
    cursor: pointer;
    height: 50px;
    &:hover {
      background: $color-brand-primary;
      border: 1px solid $color-brand-primary;
    }
    .show {
      text-align: center;
      line-height: 50px;
      &:hover {
        p {
          color: white;
        }
      }
      img {
        margin-left: 10px;
      }
    }
  }