<aside class="user-info-wrapper">
  <div class="user-cover" style="background-image: url(assets/img/e-commerce/user-cover-img.jpg);">
    <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend"><i class="pe-7s-wallet"></i>{{points| currency:'R'}} Sales Balance</div>
  </div>
  <div class="user-info">
    <!-- <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="assets/img/account/user-ava.jpg" alt="User"></div> -->
    <div class="user-data ml-4">
      <h4>{{firstname}} {{lastname}}</h4><span>Joined {{date_joined * 1000 | date:'fullDate'}}</span>
    </div>
  </div>
</aside>