
<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
    <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}">
    <app-actions-accordion *ngIf="pageComponents.actions"></app-actions-accordion>

    <!-- <app-basic></app-basic> -->

    <ng-container *ngIf="pageComponents.recentModels">
        
        <ng-container *ngFor="let model of recentModelsConfig; let j=index">
                <app-item-history-summary [modelDetailsName]="model" ></app-item-history-summary>
        </ng-container>

    </ng-container>

    <ng-container *ngFor="let tableModel of dynamicTables; let i=index">
        <app-dynamic-data-table *ngIf="pageComponents.modelDataTable" [modelDetailsName]="tableModel"></app-dynamic-data-table>
    </ng-container>
</div>


<!-- <app-item-history-summary></app-item-history-summary> -->


