@import "../../../../../assets/config";

.modal-dropdown {	
    height: 50px;	
    width: 520px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

.select-options {	
    height: 50px;	
    width: 520px;	
    background-color: #D8D8D8;
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

option {
    color: #CAC8DE;	font-family: Roboto;	font-size: 16px;	font-weight: 500;	line-height: 19px;
  }

  select {
    color: #CAC8DE;	font-family: Roboto;	font-size: 16px;	font-weight: 500;	line-height: 19px;
  }

  .modal-button {
    
    border-radius: $radius;
    background: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 200px;
    height: 50px;
    .show {
      text-align: center !important;
      line-height: 50px;

        p {
            color: white;
        }


    }
  }

  .input-group-append {
    border: 1px solid #e7e9f2;
    border-left: 0;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  
  .input-group {
    margin-top: 40px;
    input {
      height: 50px;
      padding-left: 1rem;
      border: 1px solid #e7e9f2;
      border-radius: $radius;
    }
    .date {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[type=text], input[type=email], input[type=password] {
      width: 100%;
    }
  }

  .label-value {
    color: $color-brand-primary;
  }
  
  ::placeholder {
    color: #cbc8de;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #cbc8de;
  }
  
  ::-ms-input-placeholder {
    color: #cbc8de;
  }
