.file-section {	
    // height: 384px;	
    // width: 1080px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;	
    background-color: #FFFFFF;
}

.image-mask {	
    height: 120px;	
    width: 217px;	
    border: 1px solid #E7E9F2;	
    border-radius: 2px;	
    background-color: #FFFFFF;
}

.file-icon-mask {
    height: 120px;	
    width: 217px;	
    border: 1px solid #E7E9F2;	
    border-radius: 2px;
}

.image-title {	
    height: 14px;	
    color: #CAC8DE;	
    font-family: Roboto;	
    font-size: 12px;	
    font-weight: 500;	
    line-height: 14px;
}

.supporting-documents-tittle {	
    padding: 30px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 20px;	
    font-weight: 500;	
    border-bottom: 1px solid #F5F6FA;
    // border-bottom: 1px solid #E7E9F2;
    line-height: 24px;
    margin-bottom: 40px;
    
}

.documents {
    padding: 30px;
    margin-bottom: 10%;
}

.item-footer {
    //border-top: 1px solid #E7E9F2;
    border-top: 1px solid #F5F6FA;
    height: 75px;
    width: 100%;
    bottom: 0;
    position: absolute;
    .item-action {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 30px;
      & > * {
        display: inline;
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  

