<div class="file-section mt-4" *ngIf="displayFiles == true">
  
    <div class="supporting-documents-tittle">
      {{title}}
    </div>

    <div class="d-flex flex-wrap flex-row justify-content-start documents" *ngIf="fileType == 'base64'">
        <div *ngFor=" let file of fileData;  let i=index" class="mr-3">
            <div class="image-mask">
                <ng-container *ngIf="file.type == 'image/png' || file.type == 'image/jpg' || file.type == 'image/jpeg' || file.type == 'image/gif'; else displayDocument">
                    <img src="{{file.content}}" alt="{{file.name}}" style="height: 118px;	width: 215px;	" />
                </ng-container>

                <ng-template #displayDocument>
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                        fill="#000063" /></svg>
              </ng-template>
                
            </div>
            <div class="image-title mt-2">{{file.name}}</div>
        </div>
        <!-- <div>
            <div class="image-mask">
         
              </div>
              <div class="image-title mt-2">File name 2</div>
        </div>
        <div>
            <div class="image-mask">
         
              </div>
              <div class="image-title mt-2">File name 3</div>
        </div>

        <div>
            <div class="image-mask">
         
              </div>
              <div class="image-title mt-2">File name 4</div>
        </div> -->


        
    </div>

    <div class="d-flex flex-wrap flex-row justify-content-start documents" *ngIf="fileType == 'url'">
      <div *ngFor=" let file of fileData;  let i=index" class="mr-3">
          <div class="image-mask">
              <ng-container *ngIf="file.type == 'image/png' || file.type == 'image/jpg' || file.type == 'image/jpeg' || file.type == 'image/gif'; else displayDocument">
                  <img src="{{getProductImageSrc(file)}}" alt="{{file.name}}" style="height: 118px;	width: 215px;	" />
              </ng-container>

              <ng-template #displayDocument>
                  <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                      fill="#000063" /></svg>
            </ng-template>
              
          </div>
          <div class="image-title mt-2">{{file.name}}</div>
      </div>
      <!-- <div>
          <div class="image-mask">
       
            </div>
            <div class="image-title mt-2">File name 2</div>
      </div>
      <div>
          <div class="image-mask">
       
            </div>
            <div class="image-title mt-2">File name 3</div>
      </div>

      <div>
          <div class="image-mask">
       
            </div>
            <div class="image-title mt-2">File name 4</div>
      </div> -->


      
  </div>


    <div class="item-footer">
        <div class="item-action">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
              fill="#000063" /></svg>
          <p class="label">Add new file</p>
        </div>
      </div> 



</div>
