<div class="bar-horizontal">
    <ul class="sidebar-menu">
        <button class="sidebar-link hamburger" (click)="toggleSidebar()"><img src="./assets/img/burger.svg" /></button>


      <!-- <li class="sidebar-link"><a routerLink='/dashboard' routerLinkActive="active"><img src="./assets/img/dashboard.svg" /></a></li>

      <li class="sidebar-link" *ngFor="let menuItem of menuConfig; let i=index">
        <a routerLink='{{menuItem.linkUrl}}' routerLinkActive="active">
          <img src="./assets/img/{{menuItem.icon}}.svg" />
        </a>
      </li> -->


    </ul>
    <!-- <div class="app-menu" (click)="toggleSidebar()">
      <img src="./assets/img/menu.svg" />
    </div> -->
    <!-- <a [routerLink]="['/sessions/login']" title="Logout">
      <div class="logout" title="Logout">
        <img src="./assets/img/logout.svg" />
      </div>
    </a> -->
    <a [routerLink]="['/sessions/login']" title="Logout">
      <div class="chat">
        <img src="./assets/img/logout.svg" />
      </div>
    </a>
    <ngx-flyout [(open)]="openFlyout" position="left" [showCloseButton]="false">
        <button class="close-sidebar" (click)="toggleSidebar()"><img src="./assets/img/arrow_back.svg" /></button>
        <li class="sidebar-profile" (click)="toggleSidebar()"><a routerLink='/profile' routerLinkActive="active"><img src="./assets/img/profile.svg" /></a></li>
      <ul class="flyout-menu">

        <li class="flyout-link" (click)="menuNavigateToLink('/dashboard')"><a >
          <!-- <img src="./assets/img/dashboard.svg" /> -->
          <p class="d-inline label">Dashboard</p></a>
        </li>

        <!-- system defined menu options -->
        <li class="flyout-link" *ngFor="let menuItem of menuConfig; let i=index" (click)="menuNavigateToLink(menuItem.linkUrl)"><a >
          <img *ngIf="menuItem.icon != '' && menuItem['icon'] != undefined" src="./assets/img/{{menuItem.icon}}" /><p class="d-inline label">{{menuItem.linkText}}</p></a>
        </li>
        <!-- <li class="flyout-link" (click)="toggleSidebar()"><a routerLink='/dashboard/model-details' routerLinkActive="active"><img src="./assets/img/my_policy.svg" /><p class="d-inline label">Model Details</p></a></li> -->
      </ul>
    </ngx-flyout>
</div>