@import "../../../assets/config";

.bar-horizontal {
	height: 100%;
	// width: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.hamburger {
  position: relative;
  border-right: 1px solid #f5f6fa;
  border-bottom: 1px solid #f5f6fa;
  border-left: 1px solid #f5f6fa;
  border-top: 1px solid #f5f6fa;
  // width: 100px;
  padding: 2.5rem;
  background-color: white;
  img {
    max-width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
  }
  &:hover {
    cursor: pointer;
  }
}

.close-sidebar {
  position: relative;
  border-right: 1px solid #f5f6fa;
  border-bottom: 1px solid #f5f6fa;
  background-color: white;
  // width: 100px;
  padding: 2.5rem;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  img {
    max-width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
  }
  &:hover {
    cursor: pointer;
  }
}


.sidebar-menu {
  list-style-type: none;
  padding: 0;
  img {
    max-width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

.app-menu {
  position: absolute;
  bottom: 100px;
  left: 0;
  padding: 2.5rem;
}

.logout {
  // width: 100px;
  // height: 100px;
  position: absolute;
  bottom: 100px;
  left: 0;
  padding: 2.5rem 2rem;
  img {
    max-width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
}

.signout {
  display: block;
  padding-left: 40px;
  position: absolute;
  bottom: 0;
  &:hover {
    cursor: pointer;
  }
}

.chat {
  background-color: $color-brand-primary;
  // width: 100px;
  // height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.5rem 2rem;
  img {
    max-width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  &:hover {
    background-color: darken($color: $color-brand-primary, $amount: 10%);
    cursor: pointer;
  }
}

.sidebar-link {
  padding: 2.5rem 2rem;
  // height: 100px;
  height: 89px;
  &:hover {
    cursor: pointer;
    svg {
      fill: $color-brand-primary;
    }
  }
}

.sidebar-profile {
  width: 140px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100px;
  border-bottom: 1px solid #f5f6fa;
  img {
    padding: 2.5rem 3.6rem;
  }
}

  .flyout-link {
    line-height: 100px;
    height: 100px;
    border-bottom: 1px solid #f5f6fa;
    a {
      display: block;
      padding-left: 40px;
    }
    p {
      margin-left: 40px;
    }
    &:hover {
      cursor: pointer;
      a {
        text-decoration: none !important;
      }
      p {
        color: $color-brand-primary;
      }
      svg {
        fill: $color-brand-primary;
      }
    }
  }
  