// $pri: #FD2549;
$sec: #E5E6F1;

@import "../../../../../assets/config";

$pri: $color-brand-primary;

.cards-container {
//   background-color: $pri;
  box-sizing: border-box;
//   font-family: 'Raleway', sans-serif;
}

.card-container {
  // width: 800px;
  width: 648px;
  height: 250px;
  
  
//   position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  box-sizing: border-box;
  
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-template-rows: 1fr;
  grid-gap: 15px;
  // opacity: 0.8;
}

.items {
    background-color: $pri;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
//   grid-gap: 10px;
  grid-gap: 3px;
  cursor: pointer;
  border: 3px dotted black;
  transition: all 0.6s;
}


.icon-wrapper, .project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 100px;
  color: $sec;
  transform: translateY(0px);
  transition: all 0.6s;
}

.icon-wrapper {
  align-self: end;  
}

.project-name {
  align-self: start;
}
.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $sec;  
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border: 3px solid $sec;
  
  & .project-name p {
    transform: translateY(-10px);
  }
  & .icon-wrapper i {
    transform: translateY(5px);
  }
}


.line {	
  box-sizing: border-box;	
  height: 2px;	
  width: 1080px;	
  border: 1px solid #E7E9F2;
}

// .model-title {	
//     height: 24px;	
//     color: #232326;	
//     font-family: Roboto;	
//     font-size: 20px;	
//     font-weight: 500;	
//     line-height: 24px;
// }

.model-title {
  // line-height: 60px;
  position: relative;
  svg {
    display: inline-block;
    padding-bottom: 6px;
  }
  h1 {
    display: inline-block;
    padding-left: 20px;
    height: 24px;	
      color: #232326;	
      font-family: Roboto;	
      font-size: 20px;	
      font-weight: 500;	
      line-height: 24px;
  }
 
}

.rectangle {	
  //   height: 348px;	
  //   width: 1340px;	
    opacity: 0.9;	
    background-color: #EEF1F8;
    padding-bottom: 60px;

    &.rectangle {
      &:before{
          position:absolute;
          z-index:-1;

          left:0;
          width:100%;
          height:6%;
          content:"";
          background-color:#f5f6fa;
      }
    }
  }

  .topspace {
    padding-top: 15px;
  }

  
