<div class="dashboard-container">

    <router-outlet></router-outlet>
    
</div>
  

  <!-- <header class="header" role="banner">
      <app-header-section></app-header-section>
    </header>
    <app-side-bar-menu></app-side-bar-menu>
    <div class="dashboard-container">
      

      <app-screen-content></app-screen-content>
      
    </div> -->
  