
<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}">

    <!-- <app-actions-accordion></app-actions-accordion> -->

    <div class="container pt-4 mb-4">

      <app-dynamic-data-table [modelDetailsName]="modelName"></app-dynamic-data-table>

    </div>
</div>
