
<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}" >

  <!-- <app-basic></app-basic> -->
  <div class="container pt-4 mb-4">

    <app-accounts-summary-view></app-accounts-summary-view>

    

  </div>

 
</div>


<!-- <app-item-history-summary></app-item-history-summary> -->


