<div class="container">
  <!--TODO -->
  <!--<div class="row policy-summary">
    <div class="col-4">
      <div ngbDropdown class="d-inline-block">
        <div id="policyswitch" ngbDropdownToggle>
          <h1 class="label d-inline"><img class="mr-2" src="../../assets/img/filter.svg" />Filter {{config.modelTitle}}s</h1>
        </div>
        <div ngbDropdownMenu aria-labelledby="policyswitch" class="policyswitch">
          <div >
            <a  ngbDropdownItem>Completed </a>
            <a  ngbDropdownItem>In Progress</a>
            <a  ngbDropdownItem>Cancelled</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div >
              <div>
                <div ngbDropdown class="d-inline-block">
                  <div id="policyinfo" class="policyinfo" ngbDropdownToggle>
                    <h1 class="label d-inline"><img src="../../assets/img/information.svg" />{{config.modelTitle}}
                      Information
                    </h1>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="policyinfo">
                    <table class="table table-borderless policy-table">
                        <tbody *ngIf="modelData">
                            <tr *ngFor=" let field of config.fields | slice:0:6;  let j=index" class="mb-3">
                              <td class="field-description">{{field.key}}</td>
                              <td class="normal-text">{{getModelValueFromMappingKey(field.value)}}</td>
                            </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="policyemail d-inline" (click)="openEmailModal()">
              <h1 class="label d-inline"><img src="../../assets/img/message.svg" />Email {{config.modelTitle}} Report
              </h1>
            </div>
          </div>

          <div class="col-4">
            <div class="policydownload d-inline" (click)="openDownloadModal()">
              <h1 class="label d-inline"><img src="../../assets/img/download.svg" />Download {{config.modelTitle}} Report
                </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>