<div class="container">
  <div class="items">
    <div class="icon-wrapper">
      <i class="fa fa-file-text-o"></i>
    </div>
    <div class="project-name">
      <p>POSTS</p>
    </div>
  </div>
  <div class="items">
    <div class="icon-wrapper">
      <i class="fa fa-th-list"></i>
    </div>
    <div class="project-name">
      <p>PROJECTS</p>
    </div>
  </div>
  <div class="items">
    <div class="icon-wrapper">
      <i class="fa fa-th-large"></i>
    </div>
    <div class="project-name">
      <p>COLLECTIONS</p>
    </div>
  </div>  
</div>