@import "../../../../../assets/config";

.custom-input {	
    height: 50px;	
    // width: 520px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

textarea.form-control {
    height: auto !important;
}

.form-control-placeholder {
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
    position: absolute;
    top: 0;
    padding: 16px 0 15px 20px;
    transition: all 200ms;
    opacity: 0.5;
  }

  .form-control-icon {
    padding: 16px 0 15px 20px;
  }
  
  //notes either have this for all input types or remove the input
  .form-control:focus + .form-control-placeholder,
  input.ng-dirty  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .form-control:focus + .form-control-placeholder,
  input.ng-valid  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .ng-select-opened + .form-control-placeholder, 
  ng-select.ng-dirty  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .ng-select-opened + .form-control-placeholder, 
  ng-select.ng-valid  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .form-control-placeholder {
    &:hover {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
     }
    &:focus { 
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
    }

    &.ng-dirty {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
    }
  }

  ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.ng-invalid {
  &.ng-touched {
    border-color: #dc3545;

  }
}

.hasError {
  &.ng-invalid {
    border-color: #dc3545;

  }

}

.radio-label {
  opacity: 1;
  font-family: Roboto;	
  font-size: 16px;
  color: $color-cool-silver;	
}



  //calendar
  .calender {
    background: url('../../../../../assets/img/date.svg');
    height: 1.5rem;
    width: 1.3rem;
    background-repeat: no-repeat;
    padding-right: 5px;
  }

  //filedropzone

.file-descriptor {	
      height: 50px;	
      border: 1px solid #F5F6FA;	
      border-radius: 8px;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 8px 0 rgba(229,231,235,0.5);
}

.document-name {	
    color: #232326;	
    font-family: Roboto;	
    font-size: 12px;	
    line-height: 14px;
    padding-top: 10px;
    padding-left: 20px;
}

.document-size {
    padding-left: 20px;
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 12px;	
    line-height: 14px;
}

.fileclose {
    position: relative;
    right: 0;
    top: 0;
}

ngx-dropzone {
    margin: 0;
   
    &.custom-dropzone {

    //   background: #333;
      color: $color-cool-silver !important;
      border: 1px dashed #E7E9F2 !important;
    //   border-radius: 5px;
    //   font-size: 20px;
   
      &.hovered {
        border-style: solid;
      }
    }
  }

  .file-dropzone-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
    
  }

  .modal-button {
    
    border-radius: $radius;
    background: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 200px;
    height: 50px;
    .show {
      text-align: center !important;
      line-height: 50px;

        p {
            color: white;
        }


    }
  }

  // static file css

  .uploadfilecontainer {
    //background-image: url("./../../../../../assets/img/close.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed $color-brand-primary;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: $color-cool-silver;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

   


  

  

