<form [formGroup]="modelForm">

      <!-- start testing dynamic forms -->


      <div formArrayName="sections">
          <div *ngFor="let sect of modelForm.controls['sections']['controls']; let i=index" [formGroupName]="i">

            <div *ngFor="let item of toArrayObjects(sect.value ); let j=index" >

                <div [ngSwitch]="getControlProperties(item, 'type')">

                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'text'">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <input type="text" id="{{i+item}}" [formControlName]="item"  class="form-control custom-input" [ngClass]="{hasError:  submitted === true}">
                            <label class="form-control-placeholder" >{{getControlProperties(item, "questionShort")}}</label>
                          </div>
                
                        </div>
                    </div>

                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'date'">
                        <div class="col-sm-12">
                          <div class="form-group">
                              <input class="form-control custom-input" id="{{i+item}}" [formControlName]="item" ngbDatepicker #d="ngbDatepicker"  [ngClass]="{hasError:  submitted === true}">
                              <label class="form-control-placeholder" for="{{i+item}}">{{getControlProperties(item, "questionShort")}}</label>
                              <span style="position:absolute; right:20px;top:6px;" >
                                  <button class="btn calendar" (click)="d.toggle()" type="button"><img src="../../../../../assets/img/date.svg" /></button>
                              </span>
                          </div>
                        </div>
                    </div>

                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'searchable-dropdown'">
      
                        <div class="col-sm-12">
                          <div class="form-group">
                              <ng-select class="custom no-clear" [formControlName]="item" #searchable [items]="getControlProperties(item, 'answerOptions')" bindLabel="value" bindValue="id" groupBy="{{selectGrouping}}" [openOnEnter]="true" [ngClass]="{hasError:  submitted === true}">
                              </ng-select>
                              <label class="form-control-placeholder" >{{getControlProperties(item, "questionShort")}}</label>
                              <span style="position:absolute; right:20px;top:6px;" >
                                  <button class="btn calendar" (click)="searchable.open();" type="button"><img src="../../../../../assets/img/search.svg" style="    height: 22px;"/></button>
                              </span>
                          </div>
                        </div>
                    </div>
                
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'dropdown'">
                      
                        <div class="col-sm-12">
                          <div class="form-group">
                              <ng-select class="custom no-clear"  #dropdown [formControlName]="item" [items]="getControlProperties(item, 'answerOptions')" [searchable]="false" bindLabel="value" bindValue="id" groupBy="{{selectGrouping}}" [openOnEnter]="true" [ngClass]="{hasError:  submitted === true}">
                              </ng-select>
                              <label class="form-control-placeholder" >{{getControlProperties(item, "questionShort")}}</label>
                              <span style="position:absolute; right:20px;top:6px;" >
                                  <button class="btn calendar" (click)="dropdown.open();" type="button"><img src="../../../../../assets/img/arrow_down.svg" /></button>
                              </span>
                          </div>
                        </div>
                    </div>
                
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'multiselect'">
                      
                        <div class="col-sm-12">
                          <div class="form-group">
                              <ng-select class="custom no-clear" id="{{i+item}}" [formControlName]="item" #multiselect [items]="item" [multiple]="true"  [searchable]="false" bindLabel="name" bindValue="id" groupBy="{{selectGrouping}}" [openOnEnter]="true" [ngClass]="{hasError:  submitted === true}">
                                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                      <span class="ng-value-label">{{item.name}}</span>
                                      <span class="ng-value-icon right mr-1" (click)="clear(item)">×</span>
                                  </ng-template>
                              </ng-select>
                              <label class="form-control-placeholder" for="{{i+item}}">{{getControlProperties(item, "questionShort")}}</label>
                              <span style="position:absolute; right:20px;top:6px;" >
                                  <button class="btn calendar" (click)="multiselect.open();" type="button"><img src="../../../../../assets/img/arrow_down.svg" /></button>
                              </span>
                          </div>
                        </div>
                    </div>
                
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'text-area'">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <textarea type="text" id="{{i+item}}" [formControlName]="item"  class="form-control custom-input text-area" rows="4" [ngClass]="{hasError:  submitted === true}"></textarea>
                            <label class="form-control-placeholder" for="{{i+item}}">{{getControlProperties(item, "questionShort")}}</label>
                          </div>
                
                        </div>
                    </div>

                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'tags'">
                        <label class="radio-label" for="{{i+item}}" style="padding-left: 37px;">{{getControlProperties(item, "questionShort")}}</label>
                        <div class="col-sm-12">
                          <div class="form-group">
                              <tag-input  [formControlName]="item"  theme='minimal' class="form-control custom-input" [ngClass]="{hasError:  submitted === true}"></tag-input>
                              
                          </div>
                
                        </div>
                    </div>

                    

                    <!-- check box -->
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'check-box'">
                        <div class="col-sm-12">
                          <div class="form-group">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="{{i+item}}" [formControlName]="item" >
                                  <label class="custom-control-label radio-label" for="{{i+item}}">{{getControlProperties(item, "questionShort")}}</label>
                              </div>
                          </div>
                
                        </div>
                    </div>

                    <!-- radio buttons -->
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'radio-buttons'">
                        <div class="col-sm-12">
                            <label class="radio-label" for="{{item}}" style="padding-left: 13px;">{{getControlProperties(item, "questionShort")}}</label>
                          <div class="form-group">
                            <!-- <textarea type="text" id="{{i+item}}" [formControlName]="item"  class="form-control custom-input text-area" rows="4" [ngClass]="{hasError:  submitted === true}"></textarea>
                            <label class="form-control-placeholder" for="{{i+item}}">{{getControlProperties(item, "questionShort")}}</label> -->
                            
                            <ng-container *ngFor="let radio of getControlProperties(item, 'answerOptions'); let r=index">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="{{radio.id}}" class="custom-control-input" name="{{item}}" id="{{i}}{{item}}{{r}}" [formControlName]="item" mdbInput>
                                    <!-- <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput> -->
                                    <label class="custom-control-label radio-label" for="{{i+item+r}}">{{radio.value}}</label>
                                </div>
                            </ng-container>
                                   
                          </div>
                
                        </div>
                    </div>

                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchCase="'document-upload'">

                      <ng-container *ngIf="fileSystem == 'staticFiles'; else base64">
                          <div class="col-sm-12">
                              <label class="radio-label" for="{{item}}" style="padding-left: 13px;">{{getControlProperties(item, "questionShort")}}</label>
                              <div class="form-group">
                                <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                                  <input hidden type="file" [formControlName]="item" #fileInput (change)="uploadFile($event.target.files)" multiple>
                                </div>
                                <div  class="files-list" *ngFor="let file of filesDisplay;let i= index">
                                    <p> {{ file }} </p>
                                    <button class="delete-file" (click)="deleteAttachment(i)">
                                      <img src="./../../../../../assets/img/close.svg">
                                    </button>
                                </div>
                              </div>
                            </div>
                      </ng-container>

                      <ng-template #base64>
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <ngx-dropzone class="custom-dropzone" (filesAdded)="onFilesAdded($event, item, i)"
                                  (filesRejected)="onFilesRejected($event)"  [multiple]="true" [showPreviews]="false" #dropzone+{{item}} [label]="getControlProperties(item, 'tooltip')" [showPreviews]="true" [accept]="getControlProperties(item, 'answerOptionsType')" [ngClass]="{hasError:  submitted === true}"></ngx-dropzone>
                                <label class="form-control-placeholder file-dropzone-placeholder">{{getControlProperties(item, "questionShort")}}</label>
                                <!-- <button (click)="dropzone.reset()">Reset</button> -->
                              </div>
                    
                            </div>
                    
                            <div class="col-sm-12">
                              <div class="form-group">
    
                                <div class="file-descriptor mb-2" *ngFor="let file of getFiles(item, i); let f=index">
                                    <div class="d-flex">
                    
                                      <div class="mr-auto">
                                          <div lass="d-flex align-items-start flex-column">
                                              <div class="document-name ">{{file.name}}</div>
                                              <div class="document-size pt-1">{{fileSize(file.size)}}</div>
                                          </div>
                                      </div>
                                        
                                        
                                        <div class="ml-auto pt-2 pr-3" (click)="removeFile(f, item, i)">
                                            <button type="button" class="close fileclose" aria-label="Close">
                                                <!-- <app-svg name="icon-close"></app-svg> -->
                                                <!-- <span aria-hidden="true">&times;</span> -->
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <path d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z" fill="#000063" transform="matrix(.70710678 .70710678 -.70710678 .70710678 12 -4.970563)"/>
                                                </svg>
                                              </button>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                              </div>
                    
                            </div>
                      </ng-template>

                    </div>
                
                    <!-- Default element. We should never find ourselves here -->
                    <div class="row modal-block" style="margin-bottom: 50px;" *ngSwitchDefault>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <input type="text" id="{{i+item}}" [formControlName]="item" [ngClass]="{hasError:  submitted === true}" class="form-control custom-input" required>
                            <label class="form-control-placeholder" >{{getControlProperties(item, "questionShort")}}</label>
                          </div>
                
                        </div>
                    </div>

                    <!-- <div class="row modal-block" style="margin-bottom: 50px;">
                        <div class="col-sm-12">
                            <label class="radio-label" for="inlineDefaultRadiosExample" style="padding-left: 13px;">Check this</label>
                            <div class="form-group">

                              
  
                              <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
                                  <label class="custom-control-label radio-label" for="defaultInline1">sdsdsd1</label>
                                </div>
                                

                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
                                  <label class="custom-control-label radio-label" for="defaultInline2">2sdsdsd</label>
                                </div>
                                

                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
                                  <label class="custom-control-label radio-label" for="defaultInline3">3sdsdsdd</label>
                                </div>
                            </div>
                  
                          </div>
                    </div>

                    <div class="row modal-block" style="margin-bottom: 50px;" >
                        <div class="col-sm-12">
                          <div class="form-group">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                                  <label class="custom-control-label" for="defaultChecked2">Default checked</label>
                              </div>
                          </div>
                
                        </div>
                    </div> -->

                  </div>
            </div>

          </div>
      </div><br>

        <pre>{{modelForm.value | json}}</pre>

    <div class="form-group row">
      <div class="col-sm-12">
        <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
        <div class="d-flex justify-content-center">
            <div class="modal-button" (click)="submit()"> 
                <div class="show">
                    <p class="label d-inline text-center">{{submitButtonText}}</p>
                </div>
              </div>
        </div>
      </div>
    </div>
    
  </form>
