  <div class="item-footer" [ngSwitch]="action.action">
    <div *ngSwitchCase="'update-status'" class="item-action" (click)="dynamicActions('update-status', actionData)">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
          fill="#000063" /></svg>
      <p class="label">{{action.title}}</p>
    </div>
  
    <div *ngSwitchCase="'flag-model'" class="item-action" (click)="dynamicActions()">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
          fill="#000063" /></svg>
      <p class="label">Mark As Received</p>
    </div>
  
    <div *ngSwitchCase="'unflag-model'" class="item-action" (click)="dynamicActions()">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
          fill="#000063" /></svg>
      <p class="label">Mark As Received</p>
    </div>
  </div>
  
  

