<div class="bar-horizontal">
    <div class="row no-gutters h-100">
      <div class="col-md-3 my-auto">
        <div class="ss-logo">
            <img src="./assets/myte.png" style="    width: 5.5rem;"/>
        </div>
      </div>
      <div class="col-md-6 my-auto">
        <div class="dash-title">
            {{title}}

        </div>
      </div>
      <div class="col-md-3 my-auto text-right">
        <div class="dash-actions">
          <!-- <img class="mr-5" src="./assets/img/notification.svg" /> -->
          
          <img class="mr-5" src="./assets/img/profile.svg" />
        </div>
      </div>
    </div>
  </div>
  