.bar-horizontal {	
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F6FA;
    // height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    // width: calc(100% - 100px);
    width: 100%;
    z-index: 10;
    padding-left: 95px;
  }
  
  .ss-logo {
    display: inline;
    padding-left: 40px;
  }
  
  .proname {
    color: #CAC8DE;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;
  }
  
  .dash-title {	
    color: #232326;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 700;	
    line-height: 17px;	
    text-align: center;
  }
  
  .dash-actions {
    &:hover {
      cursor: pointer;
    }
  }