
<!-- <div class="container h-100 mt-10" style="    margin-top: 61px;">  padding-right: 27%;
margin-left: 17%; -->
<div class="h-100 mt-10" style="    margin-top: 61px;   ">

    <div class="mt-3">

      <div class="d-flex  flex-row justify-content-center">

          <div>
              <div class="mask">
                  <div class="sectionHeading" >Form Segments</div>
              </div>
        
              <div class="mask-sections">
                  <ng-container *ngFor=" let section of Formsections  ;  let i=index">
                        <div class="mask-section-rectangle showhoverlink" (click)="select(section.key, i)" [ngClass]="{active:  section.key == getSelected() }">
                                <div class="section-name-text " >{{section.label}} </div>
                        </div>
                  </ng-container>
                  
              </div>
          </div>

          <div class="ml-4" style="flex-grow: 0.5;">
              <div class="form-rectangle">

                <!-- form section -->

                        <!-- form heading  -->
                        <div class="form-heading-section">
                            <div class="sectionHeading" >Create new {{modelName}}</div>
                        </div>

                        <div class="line mt-4"></div>

                        <div *ngIf="formReady">

                          <div style="    padding-left: 11%;padding-top: 5%;padding-right: 11%;padding-bottom: 5%;">
                              <app-dynamic-form-modal [data]="formData" [form]="modelFormTemplate" [postEndpoint]="postEndpoint" [formId]="formId" (formSubmittedEvent)="onFormSubmmited($event)"></app-dynamic-form-modal>
                          </div>
                          

                        </div>


                <!-- end form section -->


                </div>
          </div>

      </div>

      

      


    </div>
</div>