@import "../../../../assets/config";

.mask {	
    height: 62px;	
    width: 329px;	
    border-radius: 2px 2px 0 0;	
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 21px;
    padding-right: 145px;
}

.sectionHeading {

    color: $color-cool-silver;	
    font-size: 18px;	
    letter-spacing: -0.75px;	
    line-height: 21px;
}

.mask-sections {
    height: 320px;	
    width: 329px;	
    border-radius: 0 0 2px 2px;	
    background-color: #FFFFFF;
    color: $color-cool-silver;	
}

.mask-section-rectangle {	
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-right: 190px;
    min-height: 40px;
    
    // min-width: 329px;
    &.active {
        background-color: $color-brand-primary;
        color: #FFFFFF !important;	
    }
    
}

.section-name-text {	
    min-height: 14px;	
    min-width: 300px;	
    // line-height: 30px;

    font-size: 12px;	
    line-height: 14px;
}



// second rectangle

.form-rectangle {	
    min-height: 602px;	
    // width: 1020px;	
    border-radius: 2px;	
    background-color: #FFFFFF;
}

.form-heading-section {

    color: $color-cool-silver;	
    font-size: 18px;	
    letter-spacing: -0.75px;	
    line-height: 21px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.line {	
    box-sizing: border-box;	
    height: 1px;	
    // width: 1020px;	
    border: 1px solid #E7E9F2;
}

.showhoverlink {
    cursor: pointer;
}

.progress-status {	
    height: 25px;	
    width: 69px;	
    border-radius: 12.5px;	
    background-color: #F1F4FB;
}
