<app-sass-helper></app-sass-helper>

<div class="container h-100 mt-3">
    <div>

        <div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel>
            <ng-template ngbPanelHeader class="accordion-item" let-opened="opened">
              <div class="accordion-inner">
                <div class="policy-count">
                  2
                </div>
                <div class="policy-category h1-main-heading">
                  View Parcel Items
                </div>
                <button ngbPanelToggle class="accordion-toggle label">{{ opened ? 'Close' : 'Expand' }}
                  <svg height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <circle cx="12.5" cy="12.5" fill="#000063" r="12.5" />
                      <path
                        d="m15.248906 12.3933689-4.4145602-4.64992803c-.14645-.15580358-.3458039-.24344087-.5537699-.24344087s-.40731993.08763729-.55376992.24344087c-.30240797.32099931-.30240797.8394252 0 1.16042451l3.86079022 4.11498052-3.86079022 4.0738308c-.30240797.3209993-.30240797.8394252 0 1.1604245.14590779.1570734.34532942.2459857.55376992.2468988.2084405-.0009131.4078621-.0898254.5537699-.2468988l4.4145602-4.649928c.160056-.155806.251094-.3751226.251094-.6049022s-.091038-.4490961-.251094-.6049021z"
                        fill="#fff" fill-rule="nonzero" transform="matrix(0 1 -1 0 25.5 .5)" />
                      <circle cx="12.5" cy="12.5" fill="#000063" r="12.5" />
                      <path
                        d="m15.248906 12.3933689-4.4145602-4.64992803c-.14645-.15580358-.3458039-.24344087-.5537699-.24344087s-.40731993.08763729-.55376992.24344087c-.30240797.32099931-.30240797.8394252 0 1.16042451l3.86079022 4.11498052-3.86079022 4.0738308c-.30240797.3209993-.30240797.8394252 0 1.1604245.14590779.1570734.34532942.2459857.55376992.2468988.2084405-.0009131.4078621-.0898254.5537699-.2468988l4.4145602-4.649928c.160056-.155806.251094-.3751226.251094-.6049022s-.091038-.4490961-.251094-.6049021z"
                        fill="#fff" fill-rule="nonzero" transform="matrix(0 1 -1 0 25.5 .5)" />
                    </g>
                  </svg>
                </button>
                <div class="policy-total">
                  <div class="label">Quantity</div>
                  <div style="margin-left: 15px;">{{orderItems.length}}</div>
                </div>
              </div>
            </ng-template>

            <ng-template ngbPanelContent class="policy-details">
              <div class="row mt-4">
                <div class="col-4">
                  <div class="background radius border left-pane">

                    <ng-container *ngFor="let sectionItem of orderItems; let i = index">
                        <div class="item-header" 
                          (click)="t.select('tab' + (i+1)); select(sectionItem.productName, sectionItem)" [ngClass]="{active: isActive(sectionItem.productName)}">
                          <h2 class="h2-sub-heading">{{i+1}}. {{sectionItem.name | titlecase}}</h2>
                        </div>
                    </ng-container>
                    
                    
                    
                     <div class="item-footer">
                      <div class="item-action">
                        <!-- <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                            fill="#000063" /></svg>
                        <p class="label">Add Item</p> -->
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="col-8" >
                  <div class="background radius border right-pane  "  >
                    <div class="details-header">
                      <h1 class="h1-main-heading my-auto">Product Details</h1>
                    </div>
                    <ngb-tabset #t="ngbTabset" >
                        <div >
                            <ngb-tab >

                          <ng-template ngbTabContent>
                            <div class="details-body handle-overflow" style="height: 361px !important;">

                                  <div >

                                <div >
                                  <table class="table table-borderless">
                                    <tbody>
                                      <tr>
                                        <td class="field-description">Product Name</td>
                                        <td class="normal-text" *ngIf="modelName == 'INBOUNDWAYBILL'">{{currentProduct.name}}</td>
                                        <td class="normal-text" *ngIf="modelName == 'OUTBOUNDWAYBILL'">{{currentProduct.productName}}</td>
                                        
                                      </tr>

                                      <tr>
                                        <td class="field-description">Product Id</td>
                                        <td class="normal-text" *ngIf="modelName == 'INBOUNDWAYBILL'">{{currentProduct.id}}</td>
                                        <td class="normal-text" *ngIf="modelName == 'OUTBOUNDWAYBILL'">{{currentProduct.productId}}</td>
                                        
                                      </tr>

                                      <tr>
                                        <td class="field-description">Quantity</td>
                                        <td class="normal-text">{{currentProduct.quantity}}</td>
                                        
                                      </tr>

                                      <tr>
                                        <td class="field-description">Sku</td>
                                        <td class="normal-text" *ngIf="modelName == 'INBOUNDWAYBILL'">{{currentProduct.sku}}</td>
                                        <td class="normal-text" *ngIf="modelName == 'OUTBOUNDWAYBILL'"></td>
                                        
                                      </tr>
                                      
                                      <tr>
                                        <td class="field-description">Product Image</td>
                                        <td class="normal-text">
                                          <img *ngIf="modelName == 'INBOUNDWAYBILL'" src="{{currentProduct.image}}" alt="" style="height: 118px;	width: 215px;	" />
                                          <img src="{{currentProduct.productImageSrc}}" *ngIf="modelName == 'OUTBOUNDWAYBILL'" alt="" style="height: 118px;	width: 215px;	" />
                                        </td>
                                        
                                      </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                      </div>
                    </ngb-tabset>
                    <div class="item-footer">
                        <!-- <div class="item-action">
                          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                              fill="#000063" /></svg>
                          <p class="label">Track Delivery</p>
                        </div> -->
                        <!-- <div class="item-action" (click)="editSelectedSectionInFormModal()">
                          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                              fill="#000063" /></svg>
                          <p class="label">Mark As Received</p>
                        </div> -->

                        <app-dynamic-functions-footerbuttons [action]="footerActions[0]" [modelInitData]="modelConfiguration" [modelName]="modelName" [modelData]="modelData"></app-dynamic-functions-footerbuttons>
                      </div>
                  </div>
                </div>
              </div>

              <!-- File section -->
              <!-- <ng-container *ngIf="files && dataReady">

                  <app-files-section [files]="modelData['cover']['model']['modelData']['formFieldsEntities']" [title]="files.flagKey"></app-files-section>

              </ng-container> -->
              
              
            </ng-template>

          </ngb-panel>
          
        </ngb-accordion>
      </div>

    </div>
  </div>