<app-context-breadcrumbs [modelId]="contextId"></app-context-breadcrumbs>


<ng-container *ngFor="let model of models; let j=index">
        <!-- <app-models-accordions [modelDetailsName]="model" ></app-models-accordions> -->

        <app-context-model-item-detial-link [model]="model"></app-context-model-item-detial-link>

</ng-container>
