@import "../../../../assets/config";

.landing-logo {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  // overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #ffffff;
}

.right {
  right: 0;
  background-image: url(../../../../assets/login.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  max-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  // padding-top: 40px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e7e9f2;
    top: 0;
  }
}

.input-group-append {
  border: 1px solid #e7e9f2;
  border-left: 0;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

.input-group {
  margin-top: 40px;
  input {
    height: 50px;
    padding-left: 1rem;
    border: 1px solid #e7e9f2;
    border-radius: $radius;
  }
  .date {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type=text], input[type=email], input[type=password] {
    width: 100%;
  }
}

.calender {
  background: url('../../../../assets/img/date.svg');
  height: 1.5rem;
  width: 1.3rem;
  background-repeat: no-repeat;
}

::placeholder {
  color: #cbc8de;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cbc8de;
}

::-ms-input-placeholder {
  color: #cbc8de;
}