<div class="split left">
    <div class="container centered">
      <div class="row">
          <div class="landing-logo">
              <img src="./assets/myte.png" style="width: 64px;"  />
          </div>
      </div>
      <div class="row pb-5">
          <p class="field-description mb-1">Welcome to your admin dashboard</p>
          <h1 class="h1-main-heading">Please sign into your account below</h1>
      </div>
      <div class="description row">
        <!--<p class="label">Having trouble logging into your account? Please click <a routerLink="/sessions/reset-password">here</a> to reset your password.</p>-->
      </div>
        <form class="form-magic row" [formGroup]="modelForm" (ngSubmit)="onSubmit()">

          <div class="input-group">
            <input  type="email" placeholder="Email" formControlName="auth_username" required />
          </div>
          <div class="input-group">
            <input  type="password" placeholder="Password" formControlName="auth_password" />
          </div>
          <button class="btn-main">
            Login
            <svg class="ml-2" *ngIf="loading" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                <stop stop-color="#fff" stop-opacity="0" offset="0%" />
                <stop stop-color="#fff" stop-opacity=".631" offset="63.146%" />
                <stop stop-color="#fff" offset="100%" />
                </linearGradient>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" />
                </path>
                <circle fill="#fff" cx="36" cy="18" r="1">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" />
                </circle>
                </g>
              </g>
            </svg>
          </button>
        </form>
      </div>
    </div>

  <div class="split right">
    <div class="centered">
    </div>
  </div>
<!--

  <app-dynamic-data-table></app-dynamic-data-table> -->