<div [ngClass]="{'loading d-flex justify-content-center align-items-center': apiCallsReady != 6, 'hide': apiCallsReady == 6}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': apiCallsReady != 6}">



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Orders Received</h6>
                        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{ordersReceived}}</span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right">{{ordersCompleted}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Sales Revenue</h6>
                        <h2 class="text-right"><span>{{ordersRevenue | currency:'R'}}</span></h2>
                        <p class="m-b-0">Monthly<span class="f-right">{{ordersRevenueCurrentMonth | currency:'R'}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Deliveries Revenue</h6>
                        <h2 class="text-right"><span>{{courierRevenue | currency:'R'}}</span></h2>
                        <p class="m-b-0">Trips Completed<span class="f-right">{{courierRequests}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">System Balance</h6>
                        <!-- <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2> -->
                        <h2 class="text-right"><span>{{accountBalance | currency:'R'}}</span></h2>
                        <p class="m-b-0">Payfast <span class="f-right">{{totalPayfastCosts | currency:'R'}}</span></p>
                    </div>
                </div>
            </div>
      </div>
    </div>

    <div class="container" *ngIf="chartReady">
      <div style="display: block">
        <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>


    <div class="container pt-4 mb-4">
      <div class="filter">
        <div class="section-title">
          <!-- <img class="dashboard-icon" src="./assets/img/claims.svg" /> -->
          <svg height="22" viewBox="0 0 26 22" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m1 21.8222222h23.9777778c.5111111 0 .9111111-.4.9111111-.9111111v-16.17777777c0-.51111111-.4-.91111111-.9111111-.91111111h-6.9555556v-2.73333333c0-.51111111-.4-.91111111-.9111111-.91111111h-8.22222221c-.51111111 0-.91111111.4-.91111111.91111111v2.75555555h-6.97777778c-.51111111 0-.91111111.4-.91111111.91111112v16.17777774c.02222222.4888889.42222222.8888889.91111111.8888889zm8.8-19.8222222h6.4v1.84444444h-6.4zm-7.88888889 3.64444444h6.75555556c.06666666.02222223.13333333.02222223.2.02222223.06666666 0 .13333333 0 .2-.02222223h7.82222223c.0666667.02222223.1333333.02222223.2.02222223s.1333333 0 .2-.02222223h6.7555555v6.26666666h-6.0222222v-1.0888889c0-.5111111-.4-.91111109-.9111111-.91111109s-.9111111.39999999-.9111111.91111109v1.0888889h-6.4v-1.0888889c0-.5111111-.4-.91111109-.91111111-.91111109s-.91111111.39999999-.91111111.91111109v1.0888889h-6.06666667zm0 8.08888886h6.06666667v1.0222223c0 .5111111.4.9111111.91111111.9111111s.91111111-.4.91111111-.9111111v-1.0222223h6.4v1.0222223c0 .5111111.4.9111111.9111111.9111111s.9111111-.4.9111111-.9111111v-1.0222223h6.0666667v6.2666667h-22.17777779z" fill="#000063"/></svg>
          <h1 class="h1-main-heading">Account Balances</h1>
          <!-- <div class="filter-btn">
            <img class="dashboard-icon" src="./assets/img/filter.svg" />
            <p class="label">Filter {{config.modelTitle }}s</p>
          </div> -->
        </div>
      </div>

      <div class="row">

        <div class="col card">

          <div class="header container">
            <div class="row">
              <div class="col">
                <h2 class="h2-sub-heading">Payouts </h2>
              </div>
              <div class="col">
                <div class="status-cancelled label" >Finances</div>
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="field-description">New Requests</td>
                <td class="normal-text">{{newRequests | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Awaiting EFT</td>
                <td class="normal-text">{{processedRequests | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Paid Requests</td>
                <td class="normal-text">{{paidOutRequests | currency:'R'}}</td>
              </tr>
<!-- 
              

              <tr>
                <td class="field-description">Service Fees</td>
                <td class="normal-text">{{serviceFees | currency:'R'}}</td>
              </tr> -->

            </tbody>
          </table>
          <div class="footer container">
            <p class="view" routerLink='/dashboard/model-list/CashOutTransaction'>
              View Payouts
              <img class="dashboard-icon" src="./assets/img/arrow_right.svg" />
            </p>
          </div>
        </div>


        <div class="col card">

          <div class="header container">
            <div class="row">
              <div class="col">
                <h2 class="h2-sub-heading">Sales </h2>
              </div>
              <div class="col">
                <div class="status-active label">E-Commerce</div>
              
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="field-description">Sales Revenue</td>
                <td class="normal-text">{{ordersRevenue | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Sales This Month</td>
                <td class="normal-text">{{ordersRevenueCurrentMonth | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Sales Last Month</td>
                <td class="normal-text">{{ordersRevenueLastMonth | currency:'R'}}</td>
              </tr>

            </tbody>
          </table>
          <div class="footer container">
            <p class="view" routerLink="/dashboard/model-list/BackOrder">
              View Sales
              <img class="dashboard-icon" src="./assets/img/arrow_right.svg" />
            </p>
          </div>
        </div>


        <div class="col card">

          <div class="header container">
            <div class="row">
              <div class="col">
                <h2 class="h2-sub-heading">Deliveries  </h2>
              </div>
              <div class="col">
                <div class="status-settled label" >Courier</div>
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="field-description">Deliveries Revenue</td>
                <td class="normal-text">{{courierRevenue | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Revenue This Month</td>
                <td class="normal-text">{{courierRevenuethisMonth | currency:'R'}}</td>
              </tr>

              <tr>
                <td class="field-description">Revenue Last Month </td>
                <td class="normal-text">{{courierRevenuelastMonth | currency:'R'}}</td>
              </tr>

            </tbody>
          </table>
          <div class="footer container">
            <p class="view" routerLink='/dashboard/model-list/CourierWaybill'>
              View Deliveries
              <img class="dashboard-icon" src="./assets/img/arrow_right.svg" />
            </p>
          </div>
        </div>

      </div>

      <div class="row mb-5">
          <div class="col"  routerLink='/dashboard/accounts/dashboard'>
            <!-- <div class="load-more" *ngIf="show < policycount" (click)="loadMore()"> -->
              <div class="load-more"  > 
              <div class="show">
                  <p class="label d-inline text-center">Back To Accounts Modules</p>
                  <img class="d-inline" src="./assets/img/arrow_down.svg" />
              </div>
            </div>
          </div>
        </div>
    </div>

</div>


  