

<div ngbDropdown class="d-inline-block  ml-auto mr-status-flag" >
  <div id="policyswitch" ngbDropdownToggle>
    <h1 class="label d-inline"><img class="mr-2" src="./assets/img/filter.svg" />Admin Actions</h1>
  </div>
  <div ngbDropdownMenu aria-labelledby="policyswitch" class="policyswitch">
    <div >
      <a *ngIf="config.customFunctions != undefined && config.customFunctions.delete == true" ngbDropdownItem>Delete {{config.partialInfoSetup.modelTitle}}</a>
      <a  *ngIf="config.customFunctions != undefined && config.customFunctions.edit == true" ngbDropdownItem>Edit {{config.partialInfoSetup.modelTitle}} Settings</a>
      <a *ngIf="modelName == 'botUser' || modelName == 'User'" routerLink='/dashboard/context-models/{{modelName}}/{{modelId}}' ngbDropdownItem>User's System Data</a>
      <a ngbDropdownItem *ngFor=" let action of modelDynamicActions ;  let i=index"  (click)="dynamicActions(action.action, action)">
        {{action.title}}
      </a>
    </div>
  </div>
</div>