@import "../../../../assets/config";

.active-flag {
    background: #33f583;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.modal-button {
    
    border-radius: $radius;
    background: white;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 119px;
    height: 32px;
    .show {
      text-align: center !important;
      line-height: 32px;

        p {
            
            color: $color-brand-primary;

            &:hover {
                color: white;
            }
        }


    }

    &:hover {
        
        background: $color-brand-primary;

        .show {
            text-align: center !important;
            line-height: 32px;
      
              p {
                color: white;
              }
      
      
          }
    }
  }

  .dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: 1px solid #E7E9F2 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .show {
    .dropdown-toggle {
      .label {
        color: $color-brand-primary;
      }
    }
  }
  
  .dropdown-toggle {
    &:hover {
      cursor: pointer;
    }
    &::after {
      display: none !important;
    }
  }

  .policyswitch {
    background-color: $color-brand-primary !important;
    width: 320px;
    border-top-right-radius: $radius !important;
    .dropdown-item {
      color: white !important;
      &:hover {
        background: rgba(255,255,255,0.3);
      }
    }
  }