<form>

    <div class="row modal-block" style="margin-bottom: 50px;">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="text" id="name" class="form-control custom-input" required>
            <label class="form-control-placeholder" for="name">First Name</label>
          </div>

        </div>
    </div>

    <div class="row modal-block" style="margin-bottom: 50px;">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="text" id="namekj" class="form-control custom-input" >
            <label class="form-control-placeholder" for="namekj">Last Name</label>
          </div>

        </div>
    </div>

<!-- 
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-sm-12">
          <div class="form-group">
              <input class="form-control custom-input" id="asjashash" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="{year: 2001, month: 12, day: 31}" >
              <label class="form-control-placeholder" for="asjashash">Date</label>
              <span style="position:absolute; right:20px;top:6px;" >
                  <button class="btn calendar" (click)="d.toggle()" type="button"><img src="../../../../../assets/img/date.svg" /></button>
              </span>
          </div>
        </div>
    </div> -->




    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
    
  </form>
