<div class="container modal-block">
  <div class="modal-header modal-block">
      <div class="label">{{data.modelName}} Status</div>
      <div class="h1-main-heading">Please select the new status</div>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <!-- <app-svg name="icon-close"></app-svg> -->
        <!-- <span aria-hidden="true">&times;</span> -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z" fill="#000063" transform="matrix(.70710678 .70710678 -.70710678 .70710678 12 -4.970563)"/>
        </svg>
    
      </button>
    </div>
    <div class="modal-body modal-block">
        <!-- <div class="label font-regular" style="margin-bottom: 20px;">Your policy schedule has been mailed to</div> -->
        <form [formGroup]="modelForm">
          <div class="form-group modal-block">
              <select formControlName="status" class="form-control modal-dropdown" id="updateStatus" data-live-search="true">
                <option disabled>Select Status</option>
                <option *ngFor=" let action of data.action.options ;  let i=index" value="{{action.val}}">{{action.label}}</option>
                <!-- <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option> -->
              </select>
            </div>

            <div class="d-flex justify-content-center">
                <div class="modal-button" (click)="updateStatus()"> 
                    <div class="show">
                        <p class="label d-inline text-center">{{submitButtonText}}</p>
                    </div>
                  </div>
            </div>
          </form>
          

        
  
    </div>
    <div class="modal-footer modal-block">
        <div class="label"  style="margin-bottom: 20px;">if you have any queries, please contact our call center on</div>
        <a class="phone" href="phone:+13024405116">+1 302 440 5116</a>
    </div>
</div>
