@import "../../../../../assets/config";

.modal-dropdown {	
    height: 50px;	
    width: 520px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

.select-options {	
    height: 50px;	
    width: 520px;	
    background-color: #D8D8D8;
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

option {
    color: #CAC8DE;	font-family: Roboto;	font-size: 16px;	font-weight: 500;	line-height: 19px;
  }

  select {
    color: #CAC8DE;	font-family: Roboto;	font-size: 16px;	font-weight: 500;	line-height: 19px;
  }

  .modal-button {
    
    border-radius: $radius;
    background: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 200px;
    height: 50px;
    .show {
      text-align: center !important;
      line-height: 50px;

        p {
            color: white;
        }


    }
  }
  
