@import "../../../../../assets/config";

.card {
    background-color: white !important;
    border-radius: $radius;
    padding: 0;
    margin: 1rem;
    .header {
      padding: 0 20px;
      border-bottom: 1px solid #F5F6FA;
      min-height: 62px;
      .h2-sub-heading {
        line-height: 62px !important;
        margin-bottom: 0;
      }
    }
    .table {
      margin-bottom: 0;
      tr:nth-child(even) {
        background-color: #fcfcfd;
      }
      td {
        padding: 10px 20px;
        vertical-align: middle;
      }
    }
    .footer {
      border-top: 1px solid #F5F6FA;
      padding: 0 20px;
      .view {
        min-height: 62px;
        line-height: 62px;
        margin-bottom: 0;
        color: $color-brand-primary;
        cursor: pointer;
      }
    }
  }