
<div class="container pt-4 mt-3">

    <div class="row pt-4 pb-4">
        <div class="col card" *ngFor="let chart of charts; index as i">
                <div class="header card-title">
                    <h2 class="h2-sub-heading">{{chart.series[0].name | titlecase }}</h2>
                </div>
                <div>
                    <div echarts [options]="chart" [autoResize]="true" style="height: 300px;"></div>
                </div>
        </div>
    </div>
</div>



