@import "../../../../assets/config";

.quick-stats-container {
    /* background-color: #e8f3fc; */
    background-color: #f7d299;
    background-color: #d1dbe8;
    padding: 35px 25px;
    margin: 0 0 75px;
}

table {
    width: 100%;
    border: 1px solid #f1f1f1;
    border-style: solid none none;
    color: #676767;
}

table {
    background-color: transparent;
}

.quick-stats-container .quick-stat {
    color: #676767;
}

.quick-stats-container .quick-stat .quick-stat-icon {
    width: 50px;
    height: 50px;
    float: left;
    /* background-image: url(./images/sprite-admin-wizard.png); */
    background-position-y: -50px;
    margin: 0 5px 0 0;
    font-size: 2.2em;
}

.quick-stats-container .quick-stat .number {
    font-size: 1.8em;
    line-height: 1.1em;
    margin: 3px 0 0;
}

.quick-stats-container .quick-stat .pre-text {
    font-size: 1.3em;
    line-height: 1em;
}

.quick-stats-container .quick-stat .quick-stat-icon.icon-card {
    background-position-x: -150px;
}

.list-group-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

a.list-group-item {
    padding-top: .87rem;
    padding-bottom: .87rem;
}

a.list-group-item, .list-group-item-action {
    transition: all .25s;
    color: #606975;
    font-weight: 500;
}
.with-badge {
    position: relative;
    padding-right: 3.3rem;
}
.list-group-item {
    border-color: #e1e7ec;
    background-color: #fff;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.list-group-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.badge.badge-default {
    background-color: #eaeef2;
    color: #606975;
}

.with-badge .badge {
    position: absolute;
    top: 50%;
    right: 1.15rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.list-group-item p, .list-group-item ul, .list-group-item ol, .list-group-item li, .list-group-item span {
    font-weight: normal !important;
}
.badge {
    color: #fff;
    font-size: 90%;
    font-weight: 500;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.modal-button {
    
    border-radius: $radius;
    background: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 200px;
    height: 50px;
    .show {
      text-align: center !important;
      line-height: 50px;

        p {
            color: white;
        }


    }
  }






