
<!-- <app-grid-banner currentPage="{{pageName}}" ></app-grid-banner> -->
<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}">



  <!-- <div class="container">
      <div class="line mt-4"></div>

      <div class="model-title mt-4">
          <svg height="22" viewBox="0 0 26 22" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m1 21.8222222h23.9777778c.5111111 0 .9111111-.4.9111111-.9111111v-16.17777777c0-.51111111-.4-.91111111-.9111111-.91111111h-6.9555556v-2.73333333c0-.51111111-.4-.91111111-.9111111-.91111111h-8.22222221c-.51111111 0-.91111111.4-.91111111.91111111v2.75555555h-6.97777778c-.51111111 0-.91111111.4-.91111111.91111112v16.17777774c.02222222.4888889.42222222.8888889.91111111.8888889zm8.8-19.8222222h6.4v1.84444444h-6.4zm-7.88888889 3.64444444h6.75555556c.06666666.02222223.13333333.02222223.2.02222223.06666666 0 .13333333 0 .2-.02222223h7.82222223c.0666667.02222223.1333333.02222223.2.02222223s.1333333 0 .2-.02222223h6.7555555v6.26666666h-6.0222222v-1.0888889c0-.5111111-.4-.91111109-.9111111-.91111109s-.9111111.39999999-.9111111.91111109v1.0888889h-6.4v-1.0888889c0-.5111111-.4-.91111109-.91111111-.91111109s-.91111111.39999999-.91111111.91111109v1.0888889h-6.06666667zm0 8.08888886h6.06666667v1.0222223c0 .5111111.4.9111111.91111111.9111111s.91111111-.4.91111111-.9111111v-1.0222223h6.4v1.0222223c0 .5111111.4.9111111.9111111.9111111s.9111111-.4.9111111-.9111111v-1.0222223h6.0666667v6.2666667h-22.17777779z" fill="$color-brand-primary"/></svg>
          <h1>{{modelName}} : {{modelId}}</h1> 
      </div>
  </div> -->

  <div class="container-big rectangle mb-10">


      <div class=" padding-bottom-3x mb-2">
       <div class="row">
         <div class="col-lg-4">
           
           <!-- <app-current-user></app-current-user> -->
           <!-- <app-current-business-account-banner></app-current-business-account-banner>
           <app-sellers-dashboard-navs></app-sellers-dashboard-navs> -->
           <app-current-business-account-banner></app-current-business-account-banner>
           <nav class="list-group">
            <a class="list-group-item" routerLinkActive="active" routerLink="/sellers/dashboard"><i class="icon-layout"></i>Dashboard</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="/sellers/account/profile"><i class="icon-head"></i>Business Details</a>
            <a class="list-group-item with-badge" routerLinkActive="active" routerLink="/sellers/account/dynamic-orders/all"><i class="icon-bag"></i>Shop Orders</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="/sellers/account/products"><i class="icon-stack-2"></i>Products </a>
            <!-- <a class="list-group-item with-badge" routerLinkActive="active" routerLink="/sellers/account/banking-details"><i class="icon-briefcase"></i>Cashout Details</a> -->
            <!-- <a class="list-group-item with-badge" routerLinkActive="active" routerLink="/sellers/account/tickets"><i class="icon-tag"></i>My Tickets<span class="badge badge-primary badge-pill">4</span></a> -->
          </nav>

         </div>
         <div class="col-lg-8">
           <div class="padding-top-2x mt-2 hidden-lg-up"></div>
           <!-- <h4>Business Details</h4>
           <hr class="padding-bottom-1x"> -->

           <div class="col-md-12">

            <h2 style="text-align: center;">Sales Summary</h2>
            
            <div class="quick-stats-container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="quick-stat">
                    <div class="quick-stat-icon icon-bar-graph"></div>
                    <div class="pre-text">Total Sales </div>
                    <div class="number">{{salesTotal | currency:'R' }}</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="quick-stat">
                    <div class="quick-stat-icon icon-tag"></div>
                    <div class="pre-text">New Orders </div>
                    <div class="number">{{totalSales}}</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="quick-stat">
                    <div class="quick-stat-icon icon-bag"></div>
                    <div class="pre-text">Done orders </div>
                    <div class="number">{{completedSales}}</div>
                  </div>
                </div>
              </div>
            </div>
            
            
<!--                     
            <h2 style="text-align: center;">Latest Purchases</h2>
            
            <table class="breakable-table">
              <tbody><tr>
                <th>Invoice</th>
                <th class="text-center">Date</th>
                <th class="text-center">Status</th>
                <th class="text-right">Total</th>
              </tr>
              <tr><td colspan="10">None available.</td></tr>				</tbody></table> -->
              <div class="row">
                <div class="col-sm-6 margin-bottom-2x pb-2">
        
                  <div class="card"><img class="card-img-top" src="./assets/img/e-commerce/gas2.jpg" alt="Card image">
                    <div class="card-body">
                      <!-- <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a class="btn btn-primary btn-sm" (click)="createProduct(0)">Add New Product</a> -->

                      <div class="d-flex justify-content-start mt-2">
                        <div class="modal-button" (click)="createProduct(0)"> 
                              <div class="show">
                                  <p class="label d-inline text-center">Add New Product</p>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
                <div class="col-sm-6 margin-bottom-2x">
                  <!-- <h6 class="text-muted text-normal text-uppercase">With Badges</h6>
                  <hr class="margin-bottom-1x"> -->
                  <nav class="list-group">
                    <a class="list-group-item with-badge" routerLink="/sellers/dashboard/active-orders">New Orders<span class="badge badge-default badge-pill" style="background-color: #1cec5ba6;">{{newSales}}</span></a>
                    <a class="list-group-item with-badge" routerLink="/sellers/account/dynamic-orders/deliveries">New Deliveries<span class="badge badge-default badge-pill">{{readyToSendToWarehouse}}</span></a>
                    <a class="list-group-item with-badge" routerLink="/sellers/account/dynamic-orders/collections">Order Collections<span class="badge badge-warning badge-pill" >{{deliveries}}</span></a>
                    <a class="list-group-item with-badge" routerLink="/sellers/account/dynamic-orders/completed">Completed Orders<span class="badge badge-warning badge-pill" style="background-color: #1276f3;">{{completedSales}}</span></a>
                    <!-- <a class="list-group-item with-badge" routerLink="/sellers/dashboard/dynamic-orders/returned">Returned Orders<span class="badge badge-primary badge-pill">23</span></a> -->
                    <!-- <a class="list-group-item with-badge" routerLink="/sellers/dashboard/flagged-products">Flagged Products<span class="badge badge-danger badge-pill">19</span></a> -->
                    <a class="list-group-item with-badge" routerLink="/sellers/account/products">Your Products<span class="badge badge-danger badge-pill">{{sellerProducts}}</span></a>

                  </nav>
                </div>
              </div>
            
          </div>
 
         </div>
       </div>
     </div>

    </div>

</div>