<div class="container h-100 mt-3">
    <div>

        <div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel>
            <ng-template ngbPanelHeader class="accordion-item" let-opened="opened">
              <div class="accordion-inner">
                <div class="policy-count">
                  1
                </div>
                <div class="policy-category h1-main-heading">
                  User {{model.modelTitle}}
                </div>
                <button ngbPanelToggle class="accordion-toggle label">{{model.modelTitle}}
                            <svg height="10" viewBox="0 0 14 10" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m3.71 4.71 2.29-2.3v9.59c0 .5522847.44771525 1 1 1s1-.4477153 1-1v-9.59l2.29 2.3c.1877666.18931265.4433625.29579832.71.29579832s.5222334-.10648567.71-.29579832c.1893127-.1877666.2957983-.44336246.2957983-.71s-.1064856-.5222334-.2957983-.71l-4-4c-.09510371-.09104063-.20724868-.16240561-.33-.21-.24346136-.10001802-.51653864-.10001802-.76 0-.12275132.04759439-.23489629.11895937-.33.21l-4 4c-.25365858.25365857-.35272353.62337399-.25987805.96987804.09284548.34650406.36349595.61715453.71000001.71000001.34650405.09284548.71621947-.00621947.96987804-.25987805z" fill="#000063" transform="matrix(0 -1 -1 0 13.003335 11.998349)"/></svg>
                </button>
                <!-- <div class="policy-total">
                  <div class="label">{{model.modelTitle}}</div>
                  <div>{{model.modelTitle}}</div>
                </div> -->
              </div>
            </ng-template>

            <ng-template ngbPanelContent class="policy-details">
              
            
            </ng-template>

          </ngb-panel>
          
        </ngb-accordion>
      </div>

    </div>
  </div>