

<div class="container h-100 mt-3">
  <div>
    <div>

      <div class="model-summary mt-4"> 

        <div class="d-flex flex-wrap flex-row  mt-4">
          <div>
              <div class="date-created-title">
                  Date Created
              </div>
          </div>

          <div class="ml-auto mr-status-flag">
            <div class="model-flag ">
              {{getModelValueFromMappingKey(config.status)}}
              </div>
              <!-- <div class="status-active label">In Progress</div> -->
              <div class="active-flag"></div>
          </div>
          
        </div>

        <div class="date mt-1" *ngIf="modelData">
           {{modelData.created * 1000 | date }}
        </div>
          

        

        <div class="seperator mt-4"></div>

        <div class="d-flex flex-wrap flex-row mt-4 mb-4" *ngIf="modelData">
            <div *ngFor=" let field of config.fields | slice:0:5;  let j=index">
                <div class="model-key mt-2">{{field.key}}</div>
                <div class="model-value mt-2">{{getModelValueFromMappingKey(field.value)}}</div>
            </div>

            <!-- <div class="justify-content-end ml-5 mt-4">
                <button type="button" class="btn btn-info">System Data</button>
            </div> -->

            <!-- <div class="modal-button ml-5 mt-4" > 
                <div class="show">
                    <p class="label d-inline text-center">Delete {{config.modelTitle}}</p>
                </div>
              </div>

              <div class="modal-button ml-5 mt-4" > 
                  <div class="show">
                      <p class="label d-inline text-center">Edit Settings</p>
                  </div>
                </div> -->
<!-- 
                <div ngbDropdown class="d-inline-block  ml-auto mr-status-flag" style="margin-top: 9px !important;">
                    <div id="policyswitch" ngbDropdownToggle>
                      <h1 class="label d-inline"><img class="mr-2" src="../../assets/img/filter.svg" />Admin Actions</h1>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="policyswitch" class="policyswitch">
                      <div >
                        <a ngbDropdownItem>Delete {{config.modelTitle}}</a>
                        <a  ngbDropdownItem>Edit {{config.modelTitle}} Settings</a>
                        <a *ngIf="modelName == 'botUser' || modelName == 'User'" routerLink='/dashboard/context-models/{{modelName}}/{{modelId}}' ngbDropdownItem>User's System Data</a>
                      </div>
                    </div>
                  </div> -->
                  <div  class="d-inline-block  ml-auto mr-status-flag" style="margin-top: 9px !important;">
                    <app-dynamic-functions-dropdownhandler [modelInitData]="modelConfiguration" [modelName]="modelName" [modelData]="modelInitData"></app-dynamic-functions-dropdownhandler>
                  </div>
                  



            <!-- <div>
                <div class="model-key mt-2">Name</div>
                <div class="model-value mt-2">Brian Nyatsine</div>
            </div>

            <div>
                <div class="model-key mt-2">Name</div>
                <div class="model-value mt-2">Brian Nyatsine</div>
            </div>

            <div>
                <div class="model-key mt-2">Name</div>
                <div class="model-value mt-2">Brian Nyatsine</div>
            </div>

            <div>
                <div class="model-key mt-2">Name</div>
                <div class="model-value mt-2">Brian Nyatsine</div>
            </div> -->

        </div>



      </div>

    </div>
  </div>
</div>
