@import "../../../../assets/config";

.model-summary {	

    border: 1px solid #E7E9F2;	
    border-radius: 8px;	
    background-color: #FFFFFF;
    
}

.model-flag {	
    height: 14px;	
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 12px;	
    font-weight: 500;	
    line-height: 14px;
    padding-top: 40px;
    padding-right: 22px;
    display: inline-block;
}

.mr-status-flag {
    padding-right: 26px;
}

.date-created-title {	
    height: 17px;		
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 17px;
    padding: 30px;	
}

.date {	
    height: 24px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 20px;	
    font-weight: 500;	
    line-height: 24px;
    padding-left: 30px;
}

.model-key {	
    height: 17px;	
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 17px;
    padding-left: 30px;	
}

.model-value {	
    height: 17px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 17px;
    padding-left: 30px;
}

.supporting-documents-tittle {	
    padding: 30px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 20px;	
    font-weight: 500;	
    border-bottom: 1px solid #F5F6FA;
    // border-bottom: 1px solid #E7E9F2;
    line-height: 18px;
    margin-bottom: 41px;
    
}

.seperator {
    border-bottom: 1px solid #E7E9F2;
}

.documents {
    margin-bottom: 10%;
}

.active-flag {
    background: #33f583;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.modal-button {
    
    border-radius: $radius;
    background: white;
    border: 1px solid $color-brand-primary;
    cursor: pointer;
    width: 119px;
    height: 32px;
    .show {
      text-align: center !important;
      line-height: 32px;

        p {
            
            color: $color-brand-primary;

            &:hover {
                color: white;
            }
        }


    }

    &:hover {
        
        background: $color-brand-primary;

        .show {
            text-align: center !important;
            line-height: 32px;
      
              p {
                color: white;
              }
      
      
          }
    }
  }

  .dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: 1px solid #E7E9F2 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .show {
    .dropdown-toggle {
      .label {
        color: $color-brand-primary;
      }
    }
  }
  
  .dropdown-toggle {
    &:hover {
      cursor: pointer;
    }
    &::after {
      display: none !important;
    }
  }

  .policyswitch {
    background-color: $color-brand-primary !important;
    width: 320px;
    border-top-right-radius: $radius !important;
    .dropdown-item {
      color: white !important;
      &:hover {
        background: rgba(255,255,255,0.3);
      }
    }
  }




