<div class="dashboard-container">

    <!-- <app-context-breadcrumbs></app-context-breadcrumbs>
    <app-models-accordions></app-models-accordions>

    <app-model-data-summary-view></app-model-data-summary-view> -->

    <!-- <app-model-details-with-history></app-model-details-with-history> -->

    <!-- <app-user-context-models></app-user-context-models> -->

    <!-- <app-dashboard-landing-page></app-dashboard-landing-page> -->

    <router-outlet></router-outlet>

  
    
</div>
  
  <!-- <div class="container">
    <div class="row">
      <div class="col dashboard-item card" style="height: 18rem; position: relative;">
        <p class="temp-title">Profile</p>
      </div>
      <div class="col dashboard-item card" style="width: 18rem; position: relative;">
        <p class="temp-title">Support</p>
      </div>
    </div>
  </div> -->