@import "../../../assets/config";

.dashboard-container {
  // margin-top: 175px;
  // margin-top: 6%;
  margin-top: 99px;
}

.temp-title {
  color: #cac8de;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card {
  background-color: white;
  border-radius: $radius;
  padding: 0;
  margin: 1rem;
  .header {
    padding: 0 20px;
    border-bottom: 1px solid #F5F6FA;
    min-height: 62px;
    .h2-sub-heading {
      line-height: 62px !important;
      margin-bottom: 0;
    }
  }
  .table {
    margin-bottom: 0;
    tr:nth-child(even) {
      background-color: #fcfcfd;
    }
    td {
      padding: 10px 20px;
      vertical-align: middle;
    }
  }
  .footer {
    border-top: 1px solid #F5F6FA;
    padding: 0 20px;
    .view {
      min-height: 62px;
      line-height: 62px;
      margin-bottom: 0;
      color: $color-brand-primary;
    }
  }
}

.actions-card-rectangle {
  height: 356px;	
  width: 1340px;	
  background-color: #25B5FF;
}