
<ng-container  *ngIf="routerL.url != '/sessions' && routerL.url != '/sessions/login' && routerL.url != '/sessions/reset-password'">
  <header class="header" role="banner">
      <app-header-section></app-header-section>
    </header>
    <app-side-bar-menu></app-side-bar-menu>
</ng-container>
<div class="dashboard-container">
 
  <!-- <app-dashboard-screen></app-dashboard-screen> -->
  <app-main-layout></app-main-layout>
 
</div>


