<div class="container" >

  <div class="d-flex justify-content-between" style="margin-top: 121px; ">

    <div class="model-title mt-4">
      <!-- <img class="dashboard-icon" src="../../assets/img/claims.svg" /> -->
      <svg height="22" viewBox="0 0 26 22" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m1 21.8222222h23.9777778c.5111111 0 .9111111-.4.9111111-.9111111v-16.17777777c0-.51111111-.4-.91111111-.9111111-.91111111h-6.9555556v-2.73333333c0-.51111111-.4-.91111111-.9111111-.91111111h-8.22222221c-.51111111 0-.91111111.4-.91111111.91111111v2.75555555h-6.97777778c-.51111111 0-.91111111.4-.91111111.91111112v16.17777774c.02222222.4888889.42222222.8888889.91111111.8888889zm8.8-19.8222222h6.4v1.84444444h-6.4zm-7.88888889 3.64444444h6.75555556c.06666666.02222223.13333333.02222223.2.02222223.06666666 0 .13333333 0 .2-.02222223h7.82222223c.0666667.02222223.1333333.02222223.2.02222223s.1333333 0 .2-.02222223h6.7555555v6.26666666h-6.0222222v-1.0888889c0-.5111111-.4-.91111109-.9111111-.91111109s-.9111111.39999999-.9111111.91111109v1.0888889h-6.4v-1.0888889c0-.5111111-.4-.91111109-.91111111-.91111109s-.91111111.39999999-.91111111.91111109v1.0888889h-6.06666667zm0 8.08888886h6.06666667v1.0222223c0 .5111111.4.9111111.91111111.9111111s.91111111-.4.91111111-.9111111v-1.0222223h6.4v1.0222223c0 .5111111.4.9111111.9111111.9111111s.9111111-.4.9111111-.9111111v-1.0222223h6.0666667v6.2666667h-22.17777779z" fill="$color-brand-primary"/></svg>
      <h1>Create Invoice</h1> 
  </div>

  <div style="width: 47%;height: 113px;background: #FFFFFF;box-shadow: 0px 10px 27px rgba(161, 184, 227, 0.18);   border-bottom-left-radius: 50px;border-top-left-radius: 50px;">

      <div class="d-flex flex-wrap flex-row justify-content-start ">

          <div class="mt-3 ml-2" style=" padding: 15px;" >
                <div style="font-family: SF Compact Display;font-size: 18px;line-height: 12px;letter-spacing: 0.1px;font-variant: small-caps;color: #B9B9B9;margin-bottom: 14px;">Invoice Total</div>
                <div  style="font-family: SF Compact Display;font-size: 21px;line-height: 20px;letter-spacing: 0.1px;color: #0D0D21;text-align: center;">
                  <strong>
                    <i class="fas fa-coins text-primary"></i>{{money(form.get('totalPrice').value)}}
                  </strong>
                </div>
          </div>

          <div class="mt-3 ml-2 " style=" padding: 15px;" >
            <div style="font-family: SF Compact Display;font-size: 21px;line-height: 12px;letter-spacing: 0.1px;font-variant: small-caps;color: #B9B9B9;margin-bottom: 14px;">Download</div>
            <!-- <img src="./assets/img/download.svg" style="width: 1.2rem;" /> -->
            <div class="d-flex  justify-content-center">
              <i class="fa fa-file-download" style="font-size: 18px;color: #000063;"></i>
              <!-- <img src="./assets/img/download.svg" style="width: 1.2rem;" />  -->
            </div>
          </div>

          <div class="mt-3 ml-2 " style=" padding: 15px;" >
            <div style="font-family: SF Compact Display;font-size: 21px;line-height: 12px;letter-spacing: 0.1px;font-variant: small-caps;color: #B9B9B9;margin-bottom: 14px;">Send invoice</div>
            <!-- <img src="./assets/img/download.svg" style="width: 1.2rem;" /> -->
            <div class="d-flex  justify-content-center">
              <i class="fa fa-envelope" style="font-size: 18px;color: #000063;"></i>
              <!-- <img src="./assets/img/message.svg" style="width: 1.2rem;" />  -->
            </div>
          </div>
    </div>
  </div>

  </div>

  

</div>

<div class="container ">
  <div class="col" style="padding-bottom: 20px; padding-top: 10px">
      <p *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i>
       </p>
    <h4 class="text-center"></h4>
  </div>


  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="saveProduct()" novalidate>
    <input type="hidden" formControlName="totalPrice">
    <div class="row">
      <div class="col">
        <div class="card border-info mb-3" style="max-width: 100%; ">

          <div class="row">
            <div class="customer-head col-6">
              <i class="fas fa-users text-success"></i> Customer
              <a class="badge badge-purple badge-outlined" style="cursor: pointer;" (click)="customerModal()">Add New
                <i class="fas fa-user-plus text-purple"></i>
              </a>
            </div>
            <div class="col-6">
              
              <div class="float-right">
                <div ngbDropdown class="d-inline-block  ml-auto mr-status-flag" style="margin-top: 9px !important;">
                  <div id="policyswitch" ngbDropdownToggle>
                    <h1 class="label d-inline" style="color: #000063;"><img class="mr-2" src="./assets/img/filter.svg" />Actions Menu</h1>
                  </div>
                  <div ngbDropdownMenu aria-labelledby="policyswitch" class="policyswitch">
                    <div >
                      <a ngbDropdownItem>Send as Proforma </a>
                      <a  ngbDropdownItem>Print</a>
                      <a  ngbDropdownItem>View as PDF</a>
                      <div class="divider-line  mt-2 mb-2"></div>
                      <a  ngbDropdownItem>Edit Company Profile</a>
                      <a  ngbDropdownItem>Make Invoice Recurring</a>
                      <div class="divider-line  mt-2 mb-2"></div>
                      <a  ngbDropdownItem>Save Invoice</a>
                      <a  ngbDropdownItem>Delete Invoice</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          
          <div class="card-body text-info-ab">
            <div class="form-row">


              <div class="col-md-4">
                <!-- <select class="form-control custom-select" id="customer" formControlName="customer" (ngModelChange)="getSelectedOptionText($event)">
                  <option [ngValue]="true" >-Customer-</option>
                  <option *ngFor="let item of customerList" [ngValue]="item" >{{item.name}} {{item.lastname}}</option>
                </select> -->


                <div class="col-sm-12 mt-5">
                  <div class="form-group">
                      <ng-select class="custom no-clear" formControlName="customer" #searchable [items]="customerList" bindLabel="name" (ngModelChange)="getSelectedOptionText($event)" [openOnEnter]="true" [ngClass]="{hasError:  submitted === true}">
                      </ng-select>
                      <label class="form-control-placeholder" >Select Customer</label>
                      <span style="position:absolute; right:20px;top:6px;" >
                          <button class="btn calendar" (click)="searchable.open();" type="button"><img src="../../../../../assets/img/search.svg" style="    height: 22px;"/></button>
                      </span>
                  </div>
                </div>
              </div>

              <div class="col-md-4 text-right "></div>

              <div class="col-md-4 text-right ">
                
                <span *ngIf="phoneCustomer" >
                  <label  class="valueInfo">RECIPIENT</label>
                </span>

                <div>
                  <span  *ngIf="addressCustomer" class="displayText">
                    <label >To:</label>
                    {{selectedCustomer.name}}</span>
                </div>

                <div>
                  <span  *ngIf="addressCustomer" class="displayText">
                    <label >Address:</label>
                    {{addressCustomer}}</span>
                </div>

                <div>
                  <span  *ngIf="addressCustomer" class="displayText">
                    <label >Phone:</label>
                    {{selectedCustomer.phone}}</span>
                </div>
                
              </div>

              <!-- <div class="col-md-4">
                <span  *ngIf="addressCustomer">
                  <label>Address:</label>
                  {{addressCustomer}}</span></div> -->
            </div>

          </div>
        </div>

      </div>

    </div>

    <div *ngIf="phoneCustomer" class="row">
      <div class="col-4">

        <div class="card border-warning ">
          <div class="customer-head">
            <i class="fas fa-shopping-cart text-success"></i> Products & Services
            <a class="badge badge-purple badge-outlined" style="cursor: pointer;" (click)="productModal()">Add New
              <i class="fas fa-plus-circle text-purple"></i>
            </a>
          </div>
          <div class="card-body text-default ">

            <!-- <a class="d-flex justify-content-between align-items-center col-10" style="cursor: pointer;" *ngFor='let product of productList'
              (click)="addPurchase(product)">
              <i class="fas fa-plus-circle text-info"></i>&nbsp; {{product.name}}&nbsp;
              <span class="badge badge-primary badge-outlined col-2">{{money(product.price)}}</span>
              <hr style="border-width: 1px 0; color: black">
            </a> -->

            <div class="form-row">


                <div class="col-md-12">
                  <!-- <select class="form-control custom-select" id="customer" formControlName="customer" (ngModelChange)="getSelectedOptionText($event)">
                    <option [ngValue]="true" >-Customer-</option>
                    <option *ngFor="let item of customerList" [ngValue]="item" >{{item.name}} {{item.lastname}}</option>
                  </select> -->


                  <div class="col-sm-12 mt-4">
                    <div class="form-group">
                        <ng-select class="custom no-clear" (search)="onSearch($event)" formControlName="productselect" #searchable2 [items]="productList" bindLabel="name" (ngModelChange)="addPurchase($event)" [openOnEnter]="true" [ngClass]="{hasError:  submitted === true}">
                        </ng-select>
                        <label class="form-control-placeholder" >Search Invoice Items</label>
                        <span style="position:absolute; right:20px;top:6px;" >
                            <button class="btn calendar" (click)="searchable2.open();" type="button"><img src="../../../../../assets/img/search.svg" style="    height: 22px;"/></button>
                        </span>
                    </div>
                    <!-- (click)="addPurchase(product)" -->

                        <a class="d-flex justify-content-between align-items-center col-10" style="cursor: pointer;" *ngFor='let product of searchedProducts.items'
                        (click)="addPurchase(product)" >
                          <i class="fas fa-plus-circle text-info"></i>&nbsp; {{product.name}}&nbsp;
                          <span class="badge badge-primary badge-outlined badge-outlined-custom ">{{money(product.price)}}</span>
                          <hr style="border-width: 1px 0; color: black">
                        </a>
                  </div>
                </div>
            </div>
            

          </div>

        </div>
      </div>
      <div *ngIf="showDiv ==true" class="col-8">

        <div class="row">

          <div class="col-4">
            <div class="form-group">
                <input class="form-control custom-input" id="duedate" formControlName="duedate" ngbDatepicker #d="ngbDatepicker"  [ngClass]="{hasError:  submitted === true}">
                <label class="form-control-placeholder" for="duedate">Due Date</label>
                <span style="position:absolute; right:20px;top:6px;" >
                    <button class="btn calendar" (click)="d.toggle()" type="button"><img src="../../../../../assets/img/date.svg" /></button>
                </span>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
                <input class="form-control custom-input" id="refNumber" formControlName="refNumber"  type="text" [ngClass]="{hasError:  submitted === true}">
                <label class="form-control-placeholder" for="duedate">Reference #</label>
     
            </div>
          </div>

        </div>

        <div class="card border-success ">
          <!-- <div class="customer-head text-primary">
            <strong>
              <i class="fas fa-file-invoice-dollar text-primary"></i> Total Price {{money(form.get('totalPrice').value)}}</strong>&nbsp;
            <button type="button" (click)="resetPurchase()" class="btn btn-warning" style="padding-right: 10px">Reset</button>
            <button type="submit" class="btn btn-custom float-right">Submit</button>
          </div> -->
          <div class="card-body text-info">
            <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let purchase of form.controls.purchases.controls; let i=index"
              formArrayName="purchases">
              <div [formGroupName]="i">
                <div class="d-flex w-100 justify-content-between">
                  <small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removePurchase(i)">
                      <span aria-hidden="true" class="text-danger">×</span>
                    </button>
                  </small> &nbsp;
                  <!-- <h5 class="mb-1">{{purchase.get('product').value.name}}</h5> -->
                  <small class="text-warning">Product Price: {{money(purchase.get('product').value.price)}}</small>
                  <!-- <small class="text-primary mb-1">Product Category: {{money(purchase.get('product').value.categoryS)}}</small> -->
                </div>
                <!-- <p class="mb-1">
                  <input type="number" formControlName="quantity" class="form-control form-control-sm">
                </p> -->
                <div class="d-flex w-100 bd-highlight justify-content-around">
                  <div class="p-2 flex-grow-1 bd-highlight">
                    <label>Item</label>
                    <input type="text" value="{{purchase.get('product').value.name}}" class="form-control form-control-sm">

                  </div>

                  <div class="p-2 bd-highlight">
                    <label>Qty</label>
                    <input type="number" formControlName="quantity" class="form-control form-control-sm">

                  </div>


                  <div class="p-2 bd-highlight">
                    <label>Disc %</label>
                    <input type="number" class="form-control form-control-sm">

                  </div>


              </div>
              <!-- <input type="number" formControlName="quantity" class="form-control form-control-sm"> -->
                <small>
                  <input type="hidden" formControlName="amount" class="form-control form-control-sm"> Sub-Total {{money(purchase.get('amount').value)}}
                </small>
              </div>
            </a>
          </div>
          <div class="card-h total-fade" style="    min-height: 100px !important;">
            <div class="mt-1">
              <strong>
                Subtotal {{money(form.get('totalPrice').value)}}
             </strong>
            </div>
            <div class="mt-1">
              <strong>
                VAT : 00.00
             </strong>
            </div>
            <!-- <div class="line mt-4"></div> -->
            <div class="mt-3">
              <strong>
                <i class="fas fa-coins text-primary"></i> Total Price {{money(form.get('totalPrice').value)}}
              </strong>
            </div>

          </div>
        </div>

        
      </div>
    </div>

  </form>

  <!-- {{form.value|json}} -->

</div>