@import "../../../assets/config";


.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 45px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
  }

  .badge.badge-primary {
    // background-color: #2196F3;
    background-color: $color-brand-primary;

  }

  .badge.badge-outlined {
    background-color: transparent
  }

  .badge.badge-outlined.badge-primary {
    // border-color: #2196F3;
    // color: #2196F3;
    border-color: $color-brand-primary !important;
    color: $color-brand-primary !important;
  }

  .badge.badge-purple {
    background-color: #6f42c1 ; 
  }

  .badge.badge-outlined {
    background-color: transparent
  }

  .badge.badge-outlined.badge-purple {
    border-color: #6f42c1 ;
    color: #6f42c1 
  }

  .line {	
    box-sizing: border-box;	
    height: 2px;	
    width: 1080px;	
    border: 1px solid #E7E9F2;
}

textarea.form-control {
  height: auto !important;
}

.divider-line {	
  box-sizing: border-box;	
  height: 2px;	
  width: 100%;	
  border: 1px solid #E7E9F2;
  overflow: hidden;
}

  .model-title {
    // line-height: 60px;
    position: relative;
    svg {
      display: inline-block;
      padding-bottom: 6px;
    }
    h1 {
      display: inline-block;
      padding-left: 20px;
      height: 24px;	
        color: #232326;	
        font-family: Roboto;	
        font-size: 20px;	
        font-weight: 500;	
        line-height: 24px;
    }
   
  }

  .customer-head {
    padding: 1.2rem;
  }


  .form-control-placeholder {
    color: $color-cool-silver;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
    position: absolute;
    top: 0;
    padding: 16px 0 15px 20px;
    transition: all 200ms;
    opacity: 0.5;
  }

  .form-control-icon {
    padding: 16px 0 15px 20px;
  }
  
  //notes either have this for all input types or remove the input
  .form-control:focus + .form-control-placeholder,
  input.ng-dirty  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .form-control:focus + .form-control-placeholder,
  input.ng-valid  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .ng-select-opened + .form-control-placeholder, 
  ng-select.ng-dirty  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .ng-select-opened + .form-control-placeholder, 
  ng-select.ng-valid  + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    margin-bottom: 10px;
    font-family: Roboto;	
    font-size: 16px;
    padding-left: 13px;
  }

  .form-control-placeholder {
    &:hover {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
     }
    &:focus { 
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
    }

    &.ng-dirty {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      margin-bottom: 10px;
      font-family: Roboto;	
      font-size: 16px;
      padding-left: 13px;
    }
  }

  .displayText {
    color: #CAC8DE !important;	
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 22px;
  }

  .valueInfo {
    color: #000063 !important;// #232326 !important;
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 22px;
  }

//   .text-info {
//     color: #545b62 !important;
//     font-family: Roboto;	
//     font-size: 14px;	
//     line-height: 22px;
// }

.text-info-ab {
  color: #000063 !important;

}

.text-info {
  color: #000063 !important;
}

.text-primary {
  color: #000063 !important;
}

.btn-custom {
  color: #fff;
  background-color: #000063;
  border-color: #000063;
}

  //calendar
  .calender {
    background: url('../../../assets/img/date.svg');
    height: 1.5rem;
    width: 1.3rem;
    background-repeat: no-repeat;
    padding-right: 5px;
  }

  .custom-input {	
    height: 50px;	
    // width: 520px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;
}

.total-fade {
  color: #cac8de;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    text-align: right;
}

.card-h {
  background-color: white !important;
  border-radius: 0.5rem !important;
  min-height: 100px !important;
  border: 1px solid #E7E9F2;
  position: relative !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.dropdown-menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid #E7E9F2 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.show {
  .dropdown-toggle {
    .label {
      color: $color-brand-primary;
    }
  }
}

.dropdown-toggle {
  &:hover {
    cursor: pointer;
  }
  &::after {
    display: none !important;
  }
}

.policyswitch {
  background-color: $color-brand-primary !important;
  width: 320px;
  border-top-right-radius: $radius !important;
  .dropdown-item {
    color: white !important;
    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }
}

.item-action {
  display: inline-block;
  position: relative;
  top: 43%;
  transform: translateY(-50%);
  margin-left: 30px;
  margin-top: 2px;
  & > * {
    display: inline;
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}