<div class="container pt-4 h-100 mt-3" style="padding-left: 30px; padding-right: 30px;">
    <div class="row">
      <!-- <div class="col-md-6 mx-auto"> -->

    <div class="d-flex justify-content-between col-md-12">

    <div class="" style="width: 41%;">
        <div class="md-form">
          <input type="text" class="form-control form-control-brand-focus" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                 mdbInput>
          <label class="search-title" for="search-input">Search {{config.modelTitle}}s</label>
        </div>

      </div>

      <!-- create new model -->

      <div class="" *ngIf="createModel">
          <div class="item-action" (click)="createNewModel()">
              <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="m12 0c-6.627417 0-12 5.372583-12 12s5.372583 12 12 12 12-5.372583 12-12c0-3.18259788-1.2642821-6.23484483-3.5147186-8.48528137-2.2504366-2.25043655-5.3026835-3.51471863-8.4852814-3.51471863zm0 21.6c-5.3019336 0-9.6-4.2980664-9.6-9.6s4.2980664-9.6 9.6-9.6 9.6 4.2980664 9.6 9.6c0 2.5460783-1.0114257 4.9878759-2.8117749 6.7882251s-4.2421468 2.8117749-6.7882251 2.8117749zm4.8-10.8h-3.6v-3.6c0-.6627417-.5372583-1.2-1.2-1.2s-1.2.5372583-1.2 1.2v3.6h-3.6c-.6627417 0-1.2.5372583-1.2 1.2s.5372583 1.2 1.2 1.2h3.6v3.6c0 .6627417.5372583 1.2 1.2 1.2s1.2-.5372583 1.2-1.2v-3.6h3.6c.6627417 0 1.2-.5372583 1.2-1.2s-.5372583-1.2-1.2-1.2z"
                  fill="#000063" /></svg>
              <p class="label">Add new {{config.modelTitle}}</p>
            </div>
      </div>

      <!-- end create new model button -->
    </div> 
      

      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top table-heading ">
        <tr>
          <th class="table-heading-th" *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}} 
              <!-- <mdb-icon fas icon="sort"></mdb-icon> -->
          </th>
          <th class="table-heading-th"  [mdbTableSort]="elements" 
              scope="col"> 
              <!-- <mdb-icon fas icon="sort"></mdb-icon> -->
          </th>
        </tr>
        </thead>
        <tbody #row class="table-content">
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor=" let currentModel of elements;  let i=index">
          <!-- <th style="    padding: 1rem;
          padding-left: 2.4rem;" scope="row">{{i}}</th> -->

          <ng-container *ngFor=" let field of toArray(currentModel) ;  let j=index">
              <td style="    padding: 1rem;
              padding-left: 2.4rem;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && field.includes('buttonlinkidentifier') === false" class="" >{{field}}</td>

          <td style="    padding: 1rem;
          padding-left: 2.4rem;" *ngIf="field.includes('buttonlinkidentifier') && i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
              <button mdbBtn  size="sm" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" (click)="navigateToModel(field)" mdbWavesEffect type="button" class="m-0 btn-clr">View {{config.modelTitle}}</button>
            </td>
          </ng-container>
<!-- 
          <ng-container>
              <td style="    padding: 1rem;
              padding-left: 2.4rem;" >
                  <button mdbBtn  size="sm" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex " (click)="navigateToModel(currentModel)" mdbWavesEffect type="button" class="m-0 btn-clr">View {{config.modelTitle}}</button>
                </td>
  
          </ng-container> -->
          
          
         
          <!-- <td style="    padding: 1rem;
          padding-left: 2.4rem;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.last}}</td>
          <td style="    padding: 1rem;
          padding-left: 2.4rem;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.handle}}</td> -->
          <!-- <td style="    padding: 1rem;
          padding-left: 2.4rem;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
              <button mdbBtn  size="sm" mdbWavesEffect type="button" class="m-0 btn-clr">Button</button>
            </td> -->
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="100%">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements" class="search-title"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>