// @import "~node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~node_modules/angular-bootstrap-md/scss/bootstrap/bootstrap.scss";
// @import "~node_modules/angular-bootstrap-md/scss/mdb-free.scss";

@import "../../../../assets/config";

.btn-clr {
    background-color : $color-brand-primary;
    color: #f5f6fa;
}

.md-form input[type=text]:focus {

    box-shadow: 0 1px 0 0 $color-brand-primary ;
    
    border-bottom: 1px solid $color-brand-primary ;
    
}

.active {

    color: #25b5ff !important;
    
}

.table-content {
    width: 100% !important;
    margin-bottom: 1rem !important;
    /* color: #cecde0; */
    color: #6967869c !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.table-heading {
    background-color: $color-brand-primary !important;
}

.search-title {		
    font-size: 14px!important;
    line-height: normal;
    text-align: start;
    color: #cac8de !important;
    font-style: normal!important;
    font-weight: 500!important;
    font-family: Roboto!important;
}

.table-heading-th {
    padding: 1.4rem !important;
    padding-left: 2.4rem !important;
    color: #FFFFFF !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.hasError {
  border-color: #ED1C24 ;
}

.item-action {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  & > * {
    display: inline;
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

  
// .form-control-brand-focus:focus {
//   border-color: $color-brand-primary!important;
//   //box-shadow:  0 1px 1px 0 0 $color-brand-primary !important;
//   border-bottom: 2px solid $color-brand-primary !important;
// }

@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
