<div class="container body-class">
  <div class="card" *ngFor=" let cardDetails of cardMenus;  let j=index">
      <div class="face face1">
          <div class="content" style="color: aliceblue;" routerLink="/{{cardDetails.routerLink}}">
              <!-- <img src="./assets/img/e-commerce/shopping-cart-2.png"> -->
              <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
              <i class="{{cardDetails.icon}}" style="font-size: 100px;transform: translateY(0px);transition: all 0.6s;" aria-hidden="true"></i>
              <h3>{{cardDetails.title}}</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>{{cardDetails.description}}</p>
                  <a routerLink="/{{cardDetails.routerLink}}">View Dashboard</a>
          </div>
      </div>
  </div>
</div>