@import "../../../../assets/config";

.actions-tab {	
    min-height: 55px;
    /* width: 100%; */
    max-width: 100% !important;
    background-color: $color-brand-primary;
    background-image: linear-gradient(-90deg, #000063, #c32525);
    background-image: linear-gradient(-90deg, #33f583, $color-brand-primary);
}

.actions-text {	
    min-height: 19px;	
    min-width: 435px;	
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
}

// .actions-content {
//     background-color: $color-brand-primary;
// }

.accordion-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.seperator {
    box-sizing: border-box;	
    height: 2px;	
    width: 1079px;	
    border: 1px solid #f5f6fa;//1px solid $color-blue-seperator;
}

.action-card {	
    min-height: 200px;	
    width: 333.33px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;	
    background-color: #FFFFFF;
}

.action-card-content {
    padding: 23px;
}

.action-card-header {	
    min-height: 19px;	
    min-width: 192px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
}

.action-card-description {	
    min-height: 44px;	
    min-width: 294px;	
    color: #CAC8DE;	
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 22px;
}

.action-link {
    min-height: 17px;	
    min-width: 69px;	
    color: $color-brand-primary;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 17px;
    cursor: pointer;
}


.accordion-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// .icon {
//   fill: $color-brand-primary;
// }

.policy-count {
  background: $color-brand-primary;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
}

.actions-speach {
  display: inline;
//   color: black;
  padding-left: 10px;

//   height: 19px;	
//   width: 435px;	
  color: #FFFFFF;	
  font-family: Roboto;	
  font-size: 16px;	
  font-weight: 500;	
  line-height: 19px;
}

.policy-total {
  float: right;
  display: block;
  width: 158px;
  padding-right: 36px;
  font-weight: 500;
}

.accordion-item {
  position: relative !important;
}

.accordion-toggle {
  background: transparent;
  border: 0;
  float: right;
  display: block;
  width: 103px;
  text-align: right;
  &:hover {
    cursor: pointer;
  }
  svg {
    margin-left: 10px;
  }
}

.badge-danger {
  background-color: $color-brand-primary;;
}
