<div class="container actions-tab">
    <div class="container h-100 " style="padding-top: 25px;">

        <div class="accordion-item" >
            <div class="accordion-inner">
 
                <div class="actions-speach h1-main-heading">
                  {{greeting}} {{name}}, Welcome to Smyte dashboard
                </div>

              </div>
        </div>
    </div>

</div>





                <!-- <div class="action-card mb-2">
                    <div class="action-card-content">
                        <img class="dashboard-icon mb-3" src="../../assets/img/download.svg" />
                        <div class="action-card-header mb-3">Download daily user report</div>
                        <div class="action-card-description mb-3">This is a description example of the catch card item</div>
                        <div class="action-link mb-3" (click)="openDownloadModal()">Download</div>
                    </div>
                </div>

                <div class="action-card mb-2">
                    <div class="action-card-content">
                        <img class="dashboard-icon mb-3" src="../../assets/img/claims.svg" />
                        <div class="action-card-header mb-3">Create new order</div>
                        <div class="action-card-description mb-3">This is a description example of the catch card item</div>
                        <div class="action-link mb-3" (click)="openFormModal()">Create order</div>
                    </div>
                </div> -->