

  .g{
    background-image: url(./../../../../assets/img/svg/happy.svg);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: bottom;
    background-position-x: left;
    background-position-y: bottom;
    height: 251px;
}


//dashboard actions
@import "../../../../assets/config";

.customUserDrop {
  background-color: #000063;
  color: #d7def1 !important;
}

.white {
  color: #cac8de !important;
}

.actions-tab {	
    min-height: 55px;
    /* width: 100%; */
    max-width: 100% !important;
    background-color: $color-brand-primary;
    background-image: linear-gradient(-90deg, #000063, #c32525);
    background-image: linear-gradient(-90deg, #33f583, $color-brand-primary);
}

.actions-text {	
    min-height: 19px;	
    min-width: 435px;	
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
}

// .actions-content {
//     background-color: $color-brand-primary;
// }

.accordion-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.seperator {
    box-sizing: border-box;	
    height: 2px;	
    width: 1079px;	
    border: 1px solid #f5f6fa;//1px solid $color-blue-seperator;
}

.action-card {	
    min-height: 200px;	
    width: 333.33px;	
    border: 1px solid #E7E9F2;	
    border-radius: 8px;	
    background-color: #FFFFFF;
}

.action-card-content {
    padding: 23px;
}

.action-card-header {	
    min-height: 19px;	
    min-width: 192px;	
    color: #232326;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 19px;
}

.action-card-description {	
    min-height: 44px;	
    min-width: 294px;	
    color: #CAC8DE;	
    font-family: Roboto;	
    font-size: 14px;	
    line-height: 22px;
}

.action-link {
    min-height: 17px;	
    min-width: 69px;	
    color: $color-brand-primary;	
    font-family: Roboto;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 17px;
    cursor: pointer;
}


.accordion-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// .icon {
//   fill: $color-brand-primary;
// }

.policy-count {
  background: $color-brand-primary;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
}

.actions-speach {
  display: inline;
//   color: black;
  padding-left: 10px;

//   height: 19px;	
//   width: 435px;	
  color: #FFFFFF;	
  font-family: Roboto;	
  font-size: 16px;	
  font-weight: 500;	
  line-height: 19px;
}

.policy-total {
  float: right;
  display: block;
  width: 158px;
  padding-right: 36px;
  font-weight: 500;
}

.accordion-item {
  position: relative !important;
}

.accordion-toggle {
  background: transparent;
  border: 0;
  float: right;
  display: block;
  width: 103px;
  text-align: right;
  &:hover {
    cursor: pointer;
  }
  svg {
    margin-left: 10px;
  }
}

.badge-danger {
  background-color: $color-brand-primary;;
}

//search nav css
.align-items-center {
  align-items: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 14px;
  padding-bottom: 0px;
}
// .no-gutters  .col,
// .no-gutters{
//   padding-right: 0;
//   padding-left: 0;
// }
.border-left-warning {
  border-left: 0.25rem solid #33f583 !important;
}

.animated--fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}
.bg-gradient-secondary {
  background-color: #858796;
  background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
  background-size: cover;
}
.bg-gradient-success {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
}
.bg-gradient-info {
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
  background-size: cover;
}
.bg-gradient-warning {
  background-color: #f6c23e;
  background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
  background-size: cover;
}
.bg-gradient-danger {
  background-color: #e74a3b;
  background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
  background-size: cover;
}
.bg-gradient-light {
  background-color: #f8f9fc;
  background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
  background-size: cover;
}
.bg-gradient-dark {
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
}
.bg-gray-100 {
  background-color: #f8f9fc !important;
}
.bg-gray-200 {
  background-color: #eaecf4 !important;
}
.bg-gray-300 {
  background-color: #dddfeb !important;
}
.bg-gray-400 {
  background-color: #d1d3e2 !important;
}
.bg-gray-500 {
  background-color: #b7b9cc !important;
}
.bg-gray-600 {
  background-color: #858796 !important;
}
.bg-gray-700 {
  background-color: #6e707e !important;
}
.bg-gray-800 {
  background-color: #5a5c69 !important;
}
.bg-gray-900 {
  background-color: #3a3b45 !important;
}
.o-hidden {
  overflow: hidden !important;
}
.text-xs {
  font-size: 0.7rem;
}
.text-lg {
  font-size: 1.2rem;
}
.text-gray-100 {
  color: #f8f9fc !important;
}
.text-gray-200 {
  color: #eaecf4 !important;
}
.text-gray-300 {
  color: #dddfeb !important;
}
.text-gray-400 {
  color: #d1d3e2 !important;
}
.text-gray-500 {
  color: #b7b9cc !important;
}
.text-gray-600 {
  color: #858796 !important;
}
.text-gray-700 {
  color: #6e707e !important;
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.text-blue-800{
  color: #000063 !important;
}
.text-gray-900 {
  color: #3a3b45 !important;
}
.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}
.border-bottom-primary {
  border-bottom: 0.25rem solid #4e73df !important;
}
.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}
.border-bottom-secondary {
  border-bottom: 0.25rem solid #858796 !important;
}
.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}
.border-bottom-success {
  border-bottom: 0.25rem solid #1cc88a !important;
}
.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}
.border-bottom-info {
  border-bottom: 0.25rem solid #36b9cc !important;
}
.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}
.border-bottom-warning {
  border-bottom: 0.25rem solid #f6c23e !important;
}
.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}
.border-bottom-danger {
  border-bottom: 0.25rem solid #e74a3b !important;
}
.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}
.border-bottom-light {
  border-bottom: 0.25rem solid #f8f9fc !important;
}
.border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}
.border-bottom-dark {
  border-bottom: 0.25rem solid #5a5c69 !important;
}

.card .card-header .dropdown {
  line-height: 1;
}
.card .card-header .dropdown .dropdown-menu {
  line-height: 1.5;
}
.card .card-header[data-toggle="collapse"] {
  text-decoration: none;
  position: relative;
  padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}
.card .card-header[data-toggle="collapse"]::after {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1.725rem;
  line-height: 51px;
  font-weight: 900;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  color: #d1d3e2;
}
.card .card-header[data-toggle="collapse"].collapsed {
  border-radius: 0.35rem;
}
.card .card-header[data-toggle="collapse"].collapsed::after {
  content: "\f105";
}

.dropdown .dropdown-menu {
  font-size: 0.85rem;
}
.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: 0.65rem;
  color: #b7b9cc;
}
.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}
.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
}
.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: "\f107";
}
.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
    position: relative;
}
.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    right: 0.25rem;
    margin-top: -0.25rem;
}
.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
}
.topbar {
    height: 4.375rem;
}
.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
}
.topbar #sidebarToggleTop:hover {
    background-color: #eaecf4;
}
.topbar #sidebarToggleTop:active {
    background-color: #dddfeb;
}
.topbar .navbar-search {
    width: 25rem;
}
.topbar .navbar-search input {
    font-size: 0.85rem;
    height: auto;
}
.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}
.topbar .nav-item .nav-link:focus {
    outline: 0;
}
.topbar .nav-item:focus {
    outline: 0;
}
.topbar .dropdown {
    position: static;
}
.topbar .dropdown .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: 0.75rem;
}
.topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
}
.topbar .dropdown-list .dropdown-header {
    background-color: $color-brand-primary;
    border: 1px solid $color-brand-primary;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
}
.topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
}
.topbar .dropdown-list .dropdown-item .dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0.125rem solid #fff;
}
.topbar .dropdown-list .dropdown-item .text-truncate {
    max-width: 10rem;
}
.topbar .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45;
}
@media (min-width: 576px) {
  .topbar .dropdown {
      position: relative;
  }
  .topbar .dropdown .dropdown-menu {
      width: auto;
      right: 0;
  }
  .topbar .dropdown-list {
      width: 20rem !important;
  }
  .topbar .dropdown-list .dropdown-item .text-truncate {
      max-width: 13.375rem;
  }
}
.topbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.topbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
.topbar.navbar-dark .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #d1d3e2;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #b7b9cc;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #858796;
}

.btn-primary {
  color: #fff;
  background-color: $color-brand-primary;
  border-color: $color-brand-primary;
}





  
