
<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}" >
  <app-actions-accordion *ngIf="pageComponents.actions"></app-actions-accordion>

  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
  
      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search Order By reference..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
  
      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">
  
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
  
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="alertsDropdown" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">{{notificationsCount}}</span>

          </a>
          <!-- Dropdown - Alerts -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"  id="alertsDropdown" [ngbCollapse]="isCollapsed">
            <h6 class="dropdown-header">
              Alerts Center
            </h6>

            <ng-container *ngFor=" let notification of notifications | slice:0:5 ;  let j=index">

              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">{{email['created'] * 1000 | date: 'dd/MM/yyyy'}}</div>
                  {{email['cover']['model']['modelData']['systemManagedEntities']['alertDetails']['message']}}
                </div>
              </a>

            </ng-container>
            
            <!-- <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-success">
                  <i class="fas fa-donate text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-warning">
                  <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your account.
              </div>
            </a> -->
            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
          </div>
        </li>
  
        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="isCollapsedMessages = !isCollapsedMessages" [attr.aria-expanded]="!isCollapsedMessages" aria-controls="messagesDropdown">
            <i class="fas fa-envelope fa-fw"></i>
            <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter">{{emailsCount}}</span>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" id="messagesDropdown" [ngbCollapse]="isCollapsedMessages" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
              Message Center
            </h6>
            <ng-container *ngFor=" let email of emails | slice:0:5 ;  let i=index">
              <a class="dropdown-item d-flex align-items-center" >
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="./assets/img/profile.svg" alt="">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">{{email['cover']['model']['modelData']['formFieldsEntities']['emailDetails']['message']}}</div>
                  <div class="small text-gray-500">{{email['cover']['model']['modelData']['formFieldsEntities']['emailDetails']['from']}} - {{email['created'] * 1000 | date: 'dd/MM/yyyy'}} </div>
                </div>
              </a>
            </ng-container>

            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
          </div>
        </li>
  
        <div class="topbar-divider d-none d-sm-block"></div>
  
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="isCollapsedProfile = !isCollapsedProfile" [attr.aria-expanded]="!isCollapsedProfile" aria-controls="userDropdown">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
            <img class="img-profile rounded-circle" src="./assets/img/profile.svg">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in customUserDrop" id="messagesDropdown" [ngbCollapse]="isCollapsedProfile" aria-labelledby="userDropdown" >
            <!-- <a class="dropdown-item white" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item white" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
            <a class="dropdown-item white" href="#">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Activity Log
            </a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item white" [routerLink]="['/sessions/login']">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
  
      </ul>
  
    </nav>
  
      <div class="row">
          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4" routerLink='/dashboard/model-list/BackOrder'>
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New Orders</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{newOrders}}</div>
                    <!-- <div class="h6 mb-0 text-blue-800">View</div> -->
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-cart-arrow-down fa-2x text-gray-300"></i>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-md-6 mb-4" routerLink='/dashboard/model-list/CourierWaybill'>
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New Deliveries</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{newDeliveries}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-paper-plane fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-xl-3 col-md-6 mb-4" routerLink='/dashboard/model-list/CashOutTransaction'>
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New Cashouts</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{newCashouts}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-credit-card fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    
  </div>


  <!-- <app-basic></app-basic> -->
  <div class="container pt-4 mb-4">

    <div class="d-flex flex-wrap flex-row justify-content-between mb-4">

      <app-card-app-module-launch></app-card-app-module-launch>

    </div>

    <!-- <div class="g"></div> -->

  </div>

 
</div>




