.line {	
    box-sizing: border-box;	
    height: 2px;	
    width: 1080px;	
    // border: 1px solid #E7E9F2;
}

.model-title {
    // line-height: 60px;
    position: relative;
    svg {
      display: inline-block;
      padding-bottom: 6px;
    }
    h1 {
      display: inline-block;
      padding-left: 20px;
      height: 24px;	
        color: #232326;	
        font-family: Roboto;	
        font-size: 20px;	
        font-weight: 500;	
        line-height: 24px;
    }
   
  }