<div [ngClass]="{'loading d-flex justify-content-center align-items-center': pageReady == false, 'hide': pageReady == true}" >
  <app-spinner-circle></app-spinner-circle>
</div>

<div [ngClass]="{'hide': pageReady == false}">

  <app-model-list-breadcrumbs [contextType]="modelName" [modelId]="contextId" ></app-model-list-breadcrumbs>

  <div class="container">
    <div class="line mt-4"></div>

    <div class="model-title mt-4">
        <!-- <img class="dashboard-icon" src="../../assets/img/claims.svg" /> -->
        <svg height="22" viewBox="0 0 26 22" width="26" xmlns="http://www.w3.org/2000/svg"><path d="m1 21.8222222h23.9777778c.5111111 0 .9111111-.4.9111111-.9111111v-16.17777777c0-.51111111-.4-.91111111-.9111111-.91111111h-6.9555556v-2.73333333c0-.51111111-.4-.91111111-.9111111-.91111111h-8.22222221c-.51111111 0-.91111111.4-.91111111.91111111v2.75555555h-6.97777778c-.51111111 0-.91111111.4-.91111111.91111112v16.17777774c.02222222.4888889.42222222.8888889.91111111.8888889zm8.8-19.8222222h6.4v1.84444444h-6.4zm-7.88888889 3.64444444h6.75555556c.06666666.02222223.13333333.02222223.2.02222223.06666666 0 .13333333 0 .2-.02222223h7.82222223c.0666667.02222223.1333333.02222223.2.02222223s.1333333 0 .2-.02222223h6.7555555v6.26666666h-6.0222222v-1.0888889c0-.5111111-.4-.91111109-.9111111-.91111109s-.9111111.39999999-.9111111.91111109v1.0888889h-6.4v-1.0888889c0-.5111111-.4-.91111109-.91111111-.91111109s-.91111111.39999999-.91111111.91111109v1.0888889h-6.06666667zm0 8.08888886h6.06666667v1.0222223c0 .5111111.4.9111111.91111111.9111111s.91111111-.4.91111111-.9111111v-1.0222223h6.4v1.0222223c0 .5111111.4.9111111.9111111.9111111s.9111111-.4.9111111-.9111111v-1.0222223h6.0666667v6.2666667h-22.17777779z" fill="$color-brand-primary"/></svg>
        <h1>{{config.modelTitle}} Table </h1> 
    </div>
  </div>


  <app-dynamic-data-table  [modelDetailsName]="modelName"></app-dynamic-data-table>

</div>
