@import "../../../../assets/config";

.upload {
  padding-right: 20px;
}

.card {
  border-radius: 0.5rem !important;
}

.accordion-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.policy-details {
  background: transparent !important;
}

.policy-summary {
  height: 50px;
  border-bottom: 1px solid #E7E9F2;
  line-height: 50px;
  width: 100%;
  margin: 0;
}

.dropdown-menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid #E7E9F2 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.show {
  .dropdown-toggle {
    .label {
      color: $color-brand-primary;
    }
  }
}

.dropdown-toggle {
  &:hover {
    cursor: pointer;
  }
  &::after {
    display: none !important;
  }
}

.policy-table {
  width: 320px;
  margin: 0;
  td {
    height: 40px;
    padding: 0 20px !important;
  }
}

.item-header {
  height: 80px;
  padding: 20px;
  background-color: #f5f7ff;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  position: relative;
  h2 {
    margin: 0;
    padding-top: 5px;
  }
  p {
    margin: 0;
    padding-bottom: 5px;
  }
  &.active {
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: $color-brand-primary;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.details-header {
  height: 105px;
  padding: 0 40px;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  position: relative;
  h1 {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.plan-body {
  height: 485px;
}

.details-body {
  height: 460px;
}

.plan-row {
  padding: 0 30px;
  height: 50px;
  position: relative;
  &:hover {
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: $color-brand-primary;
      opacity: 0.3;
    }
  }
  .active {
    background-color: #f4f7ff;
  }
  p {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.table {
  td {
    height: 40px;
    padding: 0 40px;
    vertical-align: middle;
  }
  tr:nth-child(even) {
    background-color: #fcfcfd;
  }
}

.policy-header {
  border-radius: $radius;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 20px 0 40px 0;
}

.icon {
  fill: $color-brand-primary;
}

.policy-count {
  background: $color-brand-primary;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
}

.policy-category {
  display: inline;
  color: black;
  padding-left: 10px;
}

.policy-total {
  float: right;
  display: block;
  width: 158px;
  padding-right: 36px;
  font-weight: 500;
}

.coming-soon {
  p {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.policyswitch {
  background-color: $color-brand-primary !important;
  width: 320px;
  border-top-right-radius: $radius !important;
  .dropdown-item {
    color: white !important;
    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }
}

.policyinfo {
  white-space: nowrap;
  text-align: right;
  &:hover {
    cursor: pointer;
    h1 {
      color: $color-brand-primary;
    }
  }
  img {
    margin-right: 10px;
  }
}

.policyemail {
  white-space: nowrap;
  text-align: right;
  &:hover {
    cursor: pointer;
    h1 {
      color: $color-brand-primary;
    }
  }
  img {
    margin-right: 10px;
  }
}

.policydownload {
  white-space: nowrap;
  text-align: right;
  &:hover {
    cursor: pointer;
    h1 {
      color: $color-brand-primary;
    }
  }
  img {
    margin-right: 10px;
  }
}

.accordion-item {
  position: relative !important;
}

.accordion-toggle {
  background: transparent;
  border: 0;
  float: right;
  display: block;
  width: 103px;
  text-align: right;
  &:hover {
    cursor: pointer;
  }
  svg {
    margin-left: 10px;
  }
}

.btn-link { 
  width: 100% !important; 
}

.item-footer {
  border-top: 1px solid #E7E9F2;
  height: 75px;
  width: 100%;
  bottom: 0;
  position: absolute;
  .item-action {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
    & > * {
      display: inline;
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.left-pane {
  height: 540px;
  position: relative;
}

.right-pane {
  height: 540px;
  position: relative;
}