<div class="container">
    <div class="row policy-summary">
      <div class="col-4">
        <div ngbDropdown class="d-inline-block">
          <div id="policyswitch" ngbDropdownToggle>
            <h1 class="label d-inline"><img class="mr-2" src="./assets/img/filter.svg" />Admin Actions</h1>
          </div>
          <div ngbDropdownMenu aria-labelledby="policyswitch" class="policyswitch">
            <div >
              <a routerLink='/dashboard/context-models' ngbDropdownItem>Delete User</a>
              <a routerLink='/dashboard/context-models' ngbDropdownItem>Edit User Details</a>
              <a routerLink='/dashboard/context-models' ngbDropdownItem>Flag User</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="container">
          <div class="row">
            
            <div class="col-4">
              <!-- <div class="policyemail d-inline" (click)="openEmailModal()">
                <h1 class="label d-inline"><img src="../../assets/img/message.svg" />Email {{config.modelTitle}} Report
                </h1>
              </div> -->
            </div>

            <div class="col-4">
              <!-- <div class="policydownload d-inline" (click)="openDownloadModal()">
                <h1 class="label d-inline"><img src="../../assets/img/download.svg" />Download {{config.modelTitle}} Report
                  </h1>
              </div> -->
            </div>


            <div class="col-4">
              <div >
                <div>
                  <div ngbDropdown class="d-inline-block">
                    <div id="policyinfo" class="policyinfo" ngbDropdownToggle>
                      <h1 class="label d-inline"><img src="./assets/img/information.svg" />{{config.modelTitle}}
                        Information
                      </h1>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="policyinfo">
                      <table class="table table-borderless policy-table">
                        <tbody *ngIf="modelData">
                          <tr *ngFor=" let field of config.fields | slice:0:6;  let j=index" class="mb-3">
                            <td class="field-description">{{field.key}}</td>
                            <td class="normal-text">{{getModelValueFromMappingKey(field.value)}}</td>
                          </tr>
                          <!-- <tr>
                            <td class="field-description">Inception Date</td>
                            <td class="normal-text">12/05/2020</td>
                          </tr>
                          <tr>
                            <td class="field-description">End Date</td>
                            <td class="normal-text">19/02/2022</td>
                          </tr>
                          <tr>
                            <td class="field-description">Renewal Date</td>
                            <td class="normal-text">19/02/2022</td>
                          </tr>
                          <tr>
                            <td class="field-description">Insurer</td>
                            <td class="normal-text">Test</td>
                          </tr> -->
  
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="row policy-header">
      <div class="col my-auto text-left">
        <div class="d-inline-block">
          <svg class="icon" width="18px" height="22px" viewBox="0 0 18 22" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="icon/my_policy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path
                d="M18,7.634 C17.9882817,7.53294839 17.9656556,7.43339364 17.9325,7.337 L17.9325,7.238 C17.8784088,7.12489773 17.8062568,7.02093132 17.71875,6.93 L17.71875,6.93 L10.96875,0.33 L10.96875,0.33 C10.8757521,0.244437826 10.7694228,0.173889189 10.65375,0.121 L10.5525,0.121 C10.4382166,0.05691549 10.3120013,0.0157786241 10.18125,0 L3.375,0 C1.51103897,-2.44249065e-16 0,1.47746033 0,3.3 L0,18.7 C0,20.5225397 1.51103897,22 3.375,22 L14.625,22 C16.488961,22 18,20.5225397 18,18.7 L18,7.7 C18,7.7 18,7.7 18,7.634 Z M11.25,3.751 L14.16375,6.6 L12.375,6.6 C11.7536797,6.6 11.25,6.10751322 11.25,5.5 L11.25,3.751 Z M15.75,18.7 C15.75,19.3075132 15.2463203,19.8 14.625,19.8 L3.375,19.8 C2.75367966,19.8 2.25,19.3075132 2.25,18.7 L2.25,3.3 C2.25,2.69248678 2.75367966,2.2 3.375,2.2 L9,2.2 L9,5.5 C9,7.32253967 10.511039,8.8 12.375,8.8 L15.75,8.8 L15.75,18.7 Z"
                id="Shape" fill="#000063" fill-rule="nonzero"></path>
            </g>
          </svg>
        </div>
        <h1 class="h1-main-heading d-inline-block mx-3">User Account Information </h1>
      </div>
    </div>
  </div>