@import "style-params";

// Text Styles

.h1-main-heading {
  @include font-h-1-main-heading;
}

.h2-sub-heading {
  @include font-h-2-sub-heading;
}

.field-description {
  @include font-field-description;
}

.normal-text {
  @include font-normal-text;
}

.h3-page-heading {
  @include font-h-3-page-heading-and-small-title;
}

.small-text {
  @include font-small-text;
}

.text-link {
  @include font-text-link;
}

.label {
  @include font-label;
}

// Colors

$colors: (
  brand: $color-brand-primary,
  background: $color-background
);

.primary {
 color: $color-brand-primary;
}

.background {
  background-color: #fff;
}

.status-active {
  line-height: 62px;
  position: relative;
  text-align: right;
  padding-right: 18px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $color-status-green;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

.status-settled {
  line-height: 62px;
  position: relative;
  text-align: right;
  padding-right: 18px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #24b5ff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

.status-cancelled {
  line-height: 62px;
  position: relative;
  text-align: right;
  padding-right: 18px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ff3e24;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

// Fonts

$font: Roboto;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

.font-regular {
  font-weight: $font-weight-regular;
}

.font-medium {
  font-weight: $font-weight-medium;
}

.font-bold {
  font-weight: $font-weight-bold;
}

// Radius

$radius: 5px;

.radius {
  border-radius: $radius;
}

// Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 992px;
