@import "../../../../assets/config";

.line {	
    box-sizing: border-box;	
    height: 2px;	
    width: 1080px;	
    border: 1px solid #E7E9F2;
}

// .model-title {	
//     height: 24px;	
//     color: #232326;	
//     font-family: Roboto;	
//     font-size: 20px;	
//     font-weight: 500;	
//     line-height: 24px;
// }

.model-title {
    // line-height: 60px;
    position: relative;
    svg {
      display: inline-block;
      padding-bottom: 6px;
    }
    h1 {
      display: inline-block;
      padding-left: 20px;
      height: 24px;	
        color: #232326;	
        font-family: Roboto;	
        font-size: 20px;	
        font-weight: 500;	
        line-height: 24px;
    }
   
  }

  .rectangle {	
    //   height: 348px;	
    //   width: 1340px;	
      opacity: 0.9;	
      background-color: #EEF1F8;
      padding-bottom: 60px;

      &.rectangle {
        &:before{
            position:absolute;
            z-index:-1;

            left:0;
            width:100%;
            height:6%;
            content:"";
            background-color:#f5f6fa;
        }
      }
    }



    