<div class="container">
  <div class="card" routerLink="/dashboard/ecommerce-modules/dashboard">
      <div class="face face1">
          <div class="content" style="color: aliceblue;">
              <!-- <img src="./assets/img/e-commerce/shopping-cart-2.png"> -->
              <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
              <i class="fa fa-shopping-basket" style="font-size: 100px;transform: translateY(0px);transition: all 0.6s;"></i>
              <h3>E-Commerce</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Manage site orders, customers and products.</p>
                  <a routerLink="/dashboard/ecommerce-modules/dashboard">View Dashboard</a>
          </div>
      </div>
  </div>
  <div class="card" routerLink="/dashboard/courier-modules/dashboard">
      <div class="face face1">
          <div class="content" style="color: aliceblue;">
            <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true"> -->
            <i class="fa fa-truck" style="font-size: 100px;transform: translateY(0px);transition: all 0.6s;"></i>
              <h3>Courier</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
            <p>Manage order deliveries, drivers and waybills.</p>
            <a routerLink="/dashboard/courier-modules/dashboard">View Dashboard</a>
          </div>
      </div>
  </div>
  <div class="card" routerLink="/dashboard/accounts/dashboard">
      <div class="face face1">
          <div class="content" style="color: aliceblue;">
              
              <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true"> -->
              <i class="fa fa-balance-scale" style="font-size: 100px;transform: translateY(0px);transition: all 0.6s;"></i>
              <h3>Accounts</h3>
          </div>
      </div>
      <div class="face face2" > 
          <div class="content">
              <p>View Detailed Accounts and finance reports.</p>
                  <a >View Dashboard</a>
          </div>
      </div>
  </div>
</div>