/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";


@import "assets/config";

// @import "~@ng-select/ng-select/themes/default.theme.css";

html { overflow-y: scroll; }

body {
  font-family: $font;
  background: $color-background;
}


.card {
  border-radius: 0.5rem !important;
  margin-bottom: 20px !important;
  border: 0 !important;
  background-color: transparent !important;
}

.content-wide {
  padding-left: 9%;
  // padding-right: 4%;
}

.content-left-right-inner {
  padding-left: 12%;
  padding-right: 8%;
}

.card-header {
  background-color: white !important;
  border-radius: 0.5rem !important;
  height: 100px !important;
  border: 1px solid #E7E9F2;
  position: relative !important;
}

.accordion > .card .card-header {
  margin-bottom: 0 !important;
  padding: 0 40px !important;
}

.card-body {
  background: #f5f6fa !important;
  border: 0 !important;
  padding: 0 !important;
}

.accordion {
  background: #f5f6fa !important;
}

.btn-main {
  background: $color-brand-primary;
  border: $color-brand-primary;
  border-radius: $radius;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 4rem auto;
}

.box-shadow {
  box-shadow: 0 6px 6px 0 rgba(235,236,241,0.5);
}

.border {
  border: 1px solid #E7E9F2 !important;
}

.flyout {
  width: 240px;
}

.flyout-menu {
  margin-top: 100px;
  list-style: none;
  padding-inline-start: 0;
  ul {
    
    li {
      list-style: none;
    }
  }
}

.badge-outlined-custom {
  border-color: $color-brand-primary !important;
  color: $color-brand-primary !important;
}

.nav-tabs {
  display: none !important;
}

.modal-open {
  padding-right: 0 !important;
}

.modal-content {
  min-width: 640px !important;
  padding: 60px;
  border: 0;
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .modal-block {
    display: block;
    text-align: left !important;
  }
  .div {
    text-align: left !important;
  }
  .phone {
    color: $color-brand-primary;
    font-size: 16px;
    font-weight: 500;
  }
}

.modal-header {
  padding: 0 0 40px;
  border-bottom: 0;
.close {
    padding: 0;
    margin: 0;
    opacity: 1;
  }
}


.modal-body {
  padding: 0 0 40px;
}

.modal-footer {
  padding: 40px 0 0;
}

// Sass Variables in Typescript setup

//Prefix string for custom CSS properties

$prefix: "--";

//Merges a variable name with $prefix

@function custom-property-name($name) {
    @return $prefix + $name;
}

// Defines a custom property

@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}

body {

    // Append pre-defined colors in $colors

    @each $name, $value in $colors {
        @include define-custom-property($name, $value);
    }
}


//Dynamic data table css
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-center {
  text-align: center!important;
}

.page-item {
  padding-left: 10px;
  padding-right: 10px;
}

.page-link {
  color: $color-brand-primary!important;
}

.page-item.disabled .page-link {
  color: $color-cool-silver !important;
}


.ng-select.custom {
  // height: 50px;	
  // // width: 520px;	
  // border: 1px solid #E7E9F2;	
  // border-radius: 8px;
  border:0px;
    min-height: 0px;
    border-radius: 0;
    }
    .ng-select.custom .ng-select-container  {            
      height: 50px;	
      color: #777;
      cursor: pointer;
      display: flex;
      outline: 0;
      // overflow: hidden;
      position: relative;
      // width: 100%;
      background-color: #fff;
      border: 1px solid #E7E9F2;	
      border-radius: 8px;
      min-height: 36px;
      align-items: center;
    }

    .ng-select .ng-select-container .ng-value-container .ng-input>input {

      position: absolute !important;
      color: $color-cool-silver !important;
      font-family: Roboto !important;
      font-size: 16px !important;
      font-weight: 500 !important;
      line-height: 19px !important;
      padding-left: 16px !important;
      top: -12px !important;
      height: 19px !important;
      width: 100%;
      /* margin-bottom: 31px; */
  }

  .ng-dropdown-panel {
    background-color: #EEF1F8 !important;
    border-radius: 5px !important;
    padding: 17px !important;
    color: $color-cool-silver !important;
    font-family: Roboto !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
  }

  // ng-select .ng-select-container span.ng-clear-wrapper span.ng-clear {
  //   mask-image: url('assets/img/add.svg');
  //   mask-size: contain;

  //   -webkit-mask-image: url('assets/img/add.svg');
  //   -webkit-mask-size: contain;
  // }

  .no-clear.ng-select .ng-clear-wrapper {
    display: none;
  }

  .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    padding-left: 6px;
    // color: #CAC8DE;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}

.loading {
  height: 100vh;
}

.hide {
  display: none;
}

.ng2-tag-input__text-input  {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  position: absolute;
  top: 0;
  padding: 16px 0 15px 20px;
  transition: all 200ms;
  opacity: 0.5;
}

.container {
  // width: 997px !important;
  width: 1100px !important;
}

.container-big-c {
  // width: 1300px !important;
  width: 88%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-big {
  // width: 1300px !important;
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
